@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee Regular'), local('ABeeZee-Regular'), url(https://fonts.joway.io/s/abeezee/v11/esDR31xSG-6AGleN2tWklQ.ttf) format('truetype');
}
