@font-face {
  font-family: 'Aclonica';
  font-style: normal;
  font-weight: 400;
  src: local('Aclonica Regular'), local('Aclonica-Regular'), url(https://fonts.joway.io/s/aclonica/v8/K2FyfZJVlfNNSEBXGY7UAoo.ttf) format('truetype');
}
