@font-face {
  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  src: local('Actor Regular'), local('Actor-Regular'), url(https://fonts.joway.io/s/actor/v7/wEOzEBbCkc5cO0ejVSw.ttf) format('truetype');
}
