@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Advent Pro Regular'), local('AdventPro-Regular'), url(https://fonts.joway.io/s/adventpro/v8/V8mAoQfxVT4Dvddr_yOwhTqtLQ.ttf) format('truetype');
}
