@font-face {
  font-family: 'Aguafina Script';
  font-style: normal;
  font-weight: 400;
  src: local('Aguafina Script Regular'), local('AguafinaScript-Regular'), url(https://fonts.joway.io/s/aguafinascript/v7/If2QXTv_ZzSxGIO30LemWEOmt1b3rcQt.ttf) format('truetype');
}
