@font-face {
  font-family: 'Akronim';
  font-style: normal;
  font-weight: 400;
  src: local('Akronim Regular'), local('Akronim-Regular'), url(https://fonts.joway.io/s/akronim/v8/fdN-9sqWtWZZlHRpygd7lA.ttf) format('truetype');
}
