@font-face {
  font-family: 'Aladin';
  font-style: normal;
  font-weight: 400;
  src: local('Aladin Regular'), local('Aladin-Regular'), url(https://fonts.joway.io/s/aladin/v7/ZgNSjPJFPrvJV5fF7i38.ttf) format('truetype');
}
