@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: local('Aldrich Regular'), local('Aldrich-Regular'), url(https://fonts.joway.io/s/aldrich/v8/MCoTzAn-1s3IGyJMVacY2g.ttf) format('truetype');
}
