@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-weight: 400;
  src: local('Alef Regular'), local('Alef-Regular'), url(https://fonts.joway.io/s/alef/v9/FeVfS0NQpLYgnjVRDw.ttf) format('truetype');
}
