@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'), url(https://fonts.joway.io/s/alegreyasans/v8/5aUz9_-1phKLFgshYDvh6Vwt7VptuA.ttf) format('truetype');
}
