@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Regular'), local('Alegreya-Regular'), url(https://fonts.joway.io/s/alegreya/v11/4UaBrEBBsBhlBjvfkSLhx60.ttf) format('truetype');
}
