@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.joway.io/s/alegreyasanssc/v7/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1Bkll8g.ttf) format('truetype');
}
