@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: local('Aleo Regular'), local('Aleo-Regular'), url(https://fonts.joway.io/s/aleo/v2/c4mv1nF8G8_swA3J1A.ttf) format('truetype');
}
