@font-face {
  font-family: 'Alex Brush';
  font-style: normal;
  font-weight: 400;
  src: local('Alex Brush Regular'), local('AlexBrush-Regular'), url(https://fonts.joway.io/s/alexbrush/v9/SZc83FzrJKuqFbwMKk6EhUXz6A.ttf) format('truetype');
}
