@font-face {
  font-family: 'Alice';
  font-style: normal;
  font-weight: 400;
  src: local('Alice Regular'), local('Alice-Regular'), url(https://fonts.joway.io/s/alice/v9/OpNCnoEEmtHa6GcOrgs.ttf) format('truetype');
}
