@font-face {
  font-family: 'Alike Angular';
  font-style: normal;
  font-weight: 400;
  src: local('Alike Angular Regular'), local('AlikeAngular-Regular'), url(https://fonts.joway.io/s/alikeangular/v9/3qTrojWunjGQtEBlIcwMbSoI7kQwaA.ttf) format('truetype');
}
