@font-face {
  font-family: 'Alike';
  font-style: normal;
  font-weight: 400;
  src: local('Alike Regular'), local('Alike-Regular'), url(https://fonts.joway.io/s/alike/v11/HI_EiYEYI6BIoHjGQ5E.ttf) format('truetype');
}
