@font-face {
  font-family: 'Allan';
  font-style: normal;
  font-weight: 400;
  src: local('Allan Regular'), local('Allan-Regular'), url(https://fonts.joway.io/s/allan/v11/ea8XadU7WuTxEubxNdA.ttf) format('truetype');
}
