@font-face {
  font-family: 'Allerta Stencil';
  font-style: normal;
  font-weight: 400;
  src: local('Allerta Stencil Regular'), local('AllertaStencil-Regular'), url(https://fonts.joway.io/s/allertastencil/v8/HTx0L209KT-LmIE9N7OR6eiycOe1_Dbz.ttf) format('truetype');
}
