@font-face {
  font-family: 'Allerta';
  font-style: normal;
  font-weight: 400;
  src: local('Allerta Regular'), local('Allerta-Regular'), url(https://fonts.joway.io/s/allerta/v8/TwMO-IAHRlkbx940YnYXTQ.ttf) format('truetype');
}
