@font-face {
  font-family: 'Almendra SC';
  font-style: normal;
  font-weight: 400;
  src: local('Almendra SC Regular'), local('AlmendraSC-Regular'), url(https://fonts.joway.io/s/almendrasc/v9/Iure6Yx284eebowr7hbyTaZOrLE.ttf) format('truetype');
}
