@font-face {
  font-family: 'Almendra Display';
  font-style: normal;
  font-weight: 400;
  src: local('Almendra Display Regular'), local('AlmendraDisplay-Regular'), url(https://fonts.joway.io/s/almendradisplay/v9/0FlPVOGWl1Sb4O3tETtADHRRlZhzbSjUSw.ttf) format('truetype');
}
