@font-face {
  font-family: 'Almendra';
  font-style: normal;
  font-weight: 400;
  src: local('Almendra Regular'), local('Almendra-Regular'), url(https://fonts.joway.io/s/almendra/v11/H4ckBXKAlMnTn0CskxY9yLs.ttf) format('truetype');
}
