@font-face {
  font-family: 'Amarante';
  font-style: normal;
  font-weight: 400;
  src: local('Amarante Regular'), local('Amarante-Regular'), url(https://fonts.joway.io/s/amarante/v6/xMQXuF1KTa6EvGx9bp-wAX4.ttf) format('truetype');
}
