@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.joway.io/s/amaticsc/v11/TUZyzwprpvBS1izr_vOECuSa.ttf) format('truetype');
}
