@font-face {
  font-family: 'Amethysta';
  font-style: normal;
  font-weight: 400;
  src: local('Amethysta Regular'), local('Amethysta-Regular'), url(https://fonts.joway.io/s/amethysta/v7/rP2Fp2K15kgb_F3ibfW4Hz-G.ttf) format('truetype');
}
