@font-face {
  font-family: 'Amiko';
  font-style: normal;
  font-weight: 400;
  src: local('Amiko'), local('Amiko-Regular'), url(https://fonts.joway.io/s/amiko/v3/WwkQxPq1DFK04uqieVo.ttf) format('truetype');
}
