@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: local('Amiri Regular'), local('Amiri-Regular'), url(https://fonts.joway.io/s/amiri/v11/J7aRnpd8CGxBHpUutLY.ttf) format('truetype');
}
