@font-face {
  font-family: 'Amita';
  font-style: normal;
  font-weight: 400;
  src: local('Amita Regular'), local('Amita-Regular'), url(https://fonts.joway.io/s/amita/v4/HhyaU5si9Om7PTloC_A.ttf) format('truetype');
}
