@font-face {
  font-family: 'Anaheim';
  font-style: normal;
  font-weight: 400;
  src: local('Anaheim'), local('Anaheim-Regular'), url(https://fonts.joway.io/s/anaheim/v6/8vII7w042Wp87g4G4UPeFA.ttf) format('truetype');
}
