@font-face {
  font-family: 'Andada';
  font-style: normal;
  font-weight: 400;
  src: local('Andada Regular'), local('Andada-Regular'), url(https://fonts.joway.io/s/andada/v10/uK_y4riWaego3w9hDRcX.ttf) format('truetype');
}
