@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: 400;
  src: local('Andika Regular'), local('Andika-Regular'), url(https://fonts.joway.io/s/andika/v10/mem_Ya6iyW-LwqgwarYV.ttf) format('truetype');
}
