@font-face {
  font-family: 'Angkor';
  font-style: normal;
  font-weight: 400;
  src: local('Angkor Regular'), local('Angkor-Regular'), url(https://fonts.joway.io/s/angkor/v11/H4cmBXyAlsPdnlb-8g.ttf) format('truetype');
}
