@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'), url(https://fonts.joway.io/s/anonymouspro/v11/rP2Bp2a15UIB7Un-bOeISG3pHls28A.ttf) format('truetype');
}
