@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.joway.io/s/anton/v9/1Ptgg87LROyAm3Kz-Co.ttf) format('truetype');
}
