@font-face {
  font-family: 'Arapey';
  font-style: normal;
  font-weight: 400;
  src: local('Arapey Regular'), local('Arapey-Regular'), url(https://fonts.joway.io/s/arapey/v6/-W__XJn-UDDA2RCKYNoY.ttf) format('truetype');
}
