@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Regular'), local('Archivo-Regular'), url(https://fonts.joway.io/s/archivo/v3/k3kQo8UDI-1M0wlSfdnoKw.ttf) format('truetype');
}
