@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Black Regular'), local('ArchivoBlack-Regular'), url(https://fonts.joway.io/s/archivoblack/v7/HTxqL289NzCGg4MzN6KJ7eW6CYyF-w.ttf) format('truetype');
}
