@font-face {
  font-family: 'Aref Ruqaa';
  font-style: normal;
  font-weight: 400;
  src: local('Aref Ruqaa Regular'), local('ArefRuqaa-Regular'), url(https://fonts.joway.io/s/arefruqaa/v7/WwkbxPW1E165rajQKDulIIcoUA.ttf) format('truetype');
}
