@font-face {
  font-family: 'Arizonia';
  font-style: normal;
  font-weight: 400;
  src: local('Arizonia Regular'), local('Arizonia-Regular'), url(https://fonts.joway.io/s/arizonia/v9/neIIzCemt4A5qa7mv5WBFqk.ttf) format('truetype');
}
