@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: local('Armata Regular'), local('Armata-Regular'), url(https://fonts.joway.io/s/armata/v9/gokvH63_HV5jQ-ENkzRz.ttf) format('truetype');
}
