@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: 400;
  src: local('Arsenal Regular'), local('Arsenal-Regular'), url(https://fonts.joway.io/s/arsenal/v3/wXKrE3kQtZQ4pF3D51jcBQ.ttf) format('truetype');
}
