@font-face {
  font-family: 'Artifika';
  font-style: normal;
  font-weight: 400;
  src: local('Artifika Regular'), local('Artifika-Regular'), url(https://fonts.joway.io/s/artifika/v9/VEMyRoxzronptCuxu5Wq7DQ.ttf) format('truetype');
}
