@font-face {
  font-family: 'Arya';
  font-style: normal;
  font-weight: 400;
  src: local('Arya Regular'), local('Arya-Regular'), url(https://fonts.joway.io/s/arya/v4/ga6CawNG-HJdxUH__Q.ttf) format('truetype');
}
