@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap Regular'), local('Asap-Regular'), url(https://fonts.joway.io/s/asap/v8/KFOoCniXp96ayzse5Q.ttf) format('truetype');
}
