@font-face {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Asap Condensed Regular'), local('AsapCondensed-Regular'), url(https://fonts.joway.io/s/asapcondensed/v3/pxidypY1o9NHyXh3WvSbGSggdOeMaEk.ttf) format('truetype');
}
