@font-face {
  font-family: 'Asar';
  font-style: normal;
  font-weight: 400;
  src: local('Asar Regular'), local('Asar-Regular'), url(https://fonts.joway.io/s/asar/v6/sZlLdRyI6TBIbkEaCA.ttf) format('truetype');
}
