@font-face {
  font-family: 'Asset';
  font-style: normal;
  font-weight: 400;
  src: local('Asset Regular'), local('Asset-Regular'), url(https://fonts.joway.io/s/asset/v9/SLXGc1na-mM4cVIhTp4.ttf) format('truetype');
}
