@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  src: local('Assistant'), local('Assistant-Regular'), url(https://fonts.joway.io/s/assistant/v2/2sDcZGJYnIjSi6H75xkzaGW8.ttf) format('truetype');
}
