@font-face {
  font-family: 'Astloch';
  font-style: normal;
  font-weight: 400;
  src: local('Astloch Regular'), local('Astloch-Regular'), url(https://fonts.joway.io/s/astloch/v9/TuGRUVJ8QI5GSeUjm9sbyA.ttf) format('truetype');
}
