@font-face {
  font-family: 'Asul';
  font-style: normal;
  font-weight: 400;
  src: local('Asul Regular'), local('Asul-Regular'), url(https://fonts.joway.io/s/asul/v8/VuJ-dNjKxYr42fQPWA.ttf) format('truetype');
}
