@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  src: local('Athiti'), local('Athiti-Regular'), url(https://fonts.joway.io/s/athiti/v3/pe0vMISdLIZIv1wICxJS.ttf) format('truetype');
}
