@font-face {
  font-family: 'Atma';
  font-style: normal;
  font-weight: 400;
  src: local('Atma Regular'), local('Atma-Regular'), url(https://fonts.joway.io/s/atma/v4/uK_84rqWc-Eoq2lRCg.ttf) format('truetype');
}
