@font-face {
  font-family: 'Atomic Age';
  font-style: normal;
  font-weight: 400;
  src: local('Atomic Age Regular'), local('AtomicAge-Regular'), url(https://fonts.joway.io/s/atomicage/v11/f0Xz0eug6sdmRFkYZZGL18bn8Q.ttf) format('truetype');
}
