@font-face {
  font-family: 'Aubrey';
  font-style: normal;
  font-weight: 400;
  src: local('Aubrey Regular'), local('Aubrey-Regular'), url(https://fonts.joway.io/s/aubrey/v11/q5uGsou7NPBw-p7fvQlo.ttf) format('truetype');
}
