@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide Regular'), local('Audiowide-Regular'), url(https://fonts.joway.io/s/audiowide/v6/l7gdbjpo0cum0ckerWCdlg_L.ttf) format('truetype');
}
