@font-face {
  font-family: 'Autour One';
  font-style: normal;
  font-weight: 400;
  src: local('Autour One Regular'), local('AutourOne-Regular'), url(https://fonts.joway.io/s/autourone/v8/UqyVK80cP25l3fJgbdfbo55cUg.ttf) format('truetype');
}
