@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Averia Serif Libre Regular'), local('AveriaSerifLibre-Regular'), url(https://fonts.joway.io/s/averiaseriflibre/v8/neIWzD2ms4wxr6GvjeD0X88SHPyX2xYOoguK.ttf) format('truetype');
}
