@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 400;
  src: local('Average Regular'), local('Average-Regular'), url(https://fonts.joway.io/s/average/v7/fC1hPYBHe23MxA7rEeV6UQ.ttf) format('truetype');
}
