@font-face {
  font-family: 'Averia Gruesa Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Averia Gruesa Libre Regular'), local('AveriaGruesaLibre-Regular'), url(https://fonts.joway.io/s/averiagruesalibre/v7/NGSov4nEGEktOaDRKsY-1dhh8eEtIx3ZYm6Dxw.ttf) format('truetype');
}
