@font-face {
  font-family: 'Averia Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Averia Libre Regular'), local('AveriaLibre-Regular'), url(https://fonts.joway.io/s/averialibre/v7/2V0aKIcMGZEnV6xygz7eNjESBanN.ttf) format('truetype');
}
