@font-face {
  font-family: 'Average Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Average Sans Regular'), local('AverageSans-Regular'), url(https://fonts.joway.io/s/averagesans/v7/1Ptpg8fLXP2dlAXR-HlJJNJ_AtCe.ttf) format('truetype');
}
