@font-face {
  font-family: 'B612 Mono';
  font-style: normal;
  font-weight: 400;
  src: local('B612 Mono Regular'), local('B612Mono-Regular'), url(https://fonts.joway.io/s/b612mono/v2/kmK_Zq85QVWbN1eW6lJV0A7Y.ttf) format('truetype');
}
