@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: local('Bad Script Regular'), local('BadScript-Regular'), url(https://fonts.joway.io/s/badscript/v6/6NUT8F6PJgbFWQn47_x7pOskyQ.ttf) format('truetype');
}
