@font-face {
  font-family: 'Bahiana';
  font-style: normal;
  font-weight: 400;
  src: local('Bahiana Regular'), local('Bahiana-Regular'), url(https://fonts.joway.io/s/bahiana/v3/uU9PCBUV4YenPWJU3xTR2g.ttf) format('truetype');
}
