@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  src: local('Bai Jamjuree Regular'), local('BaiJamjuree-Regular'), url(https://fonts.joway.io/s/baijamjuree/v2/LDI1apSCOBt_aeQQ7ftydoa8XsLO.ttf) format('truetype');
}
