@font-face {
  font-family: 'Baloo Thambi';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Thambi Regular'), local('BalooThambi-Regular'), url(https://fonts.joway.io/s/baloothambi/v4/va9B4kXJzNhTFoA7CYcS8sHeRhf_.ttf) format('truetype');
}
