@font-face {
  font-family: 'Baloo Bhaijaan';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Bhaijaan Regular'), local('BalooBhaijaan-Regular'), url(https://fonts.joway.io/s/baloobhaijaan/v5/RWmRoKCU5fcqq8fOWNzFLqSjx7EFLGE.ttf) format('truetype');
}
