@font-face {
  font-family: 'Baloo Tammudu';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Tammudu Regular'), local('BalooTammudu-Regular'), url(https://fonts.joway.io/s/balootammudu/v5/mFT3Wb8Qza7c_Z5HTsC_5nxWwE1akw.ttf) format('truetype');
}
