@font-face {
  font-family: 'Baloo Chettan';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Chettan Regular'), local('BalooChettan-Regular'), url(https://fonts.joway.io/s/baloochettan/v4/0QImMXRN8o2gTC2YTr4665DA47v2-A.ttf) format('truetype');
}
