@font-face {
  font-family: 'Baloo Bhai';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Bhai Regular'), local('BalooBhai-Regular'), url(https://fonts.joway.io/s/baloobhai/v4/ZgNWjP5GM7bCUdmXgWyVvGLONw.ttf) format('truetype');
}
