@font-face {
  font-family: 'Baloo Bhaina';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Bhaina Regular'), local('BalooBhaina-Regular'), url(https://fonts.joway.io/s/baloobhaina/v4/Noa16Uzzzp2FIkfhq5vm9thBOw55.ttf) format('truetype');
}
