@font-face {
  font-family: 'Baloo Tamma';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Tamma Regular'), local('BalooTamma-Regular'), url(https://fonts.joway.io/s/balootamma/v5/JTUTjIk68Cy27gWhOWIghH5G7g4.ttf) format('truetype');
}
