@font-face {
  font-family: 'Baloo Paaji';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Paaji Regular'), local('BalooPaaji-Regular'), url(https://fonts.joway.io/s/baloopaaji/v5/8AttGsyxM5KQQU-Y4MTwVanUqR8.ttf) format('truetype');
}
