@font-face {
  font-family: 'Baloo';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Regular'), local('Baloo-Regular'), url(https://fonts.joway.io/s/baloo/v3/6xKhdSpJJ92I9MWPCms.ttf) format('truetype');
}
