@font-face {
  font-family: 'Baloo Da';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Da Regular'), local('BalooDa-Regular'), url(https://fonts.joway.io/s/balooda/v4/LhWmMVnXOfIZO795FUkYQP8.ttf) format('truetype');
}
