@font-face {
  font-family: 'Balthazar';
  font-style: normal;
  font-weight: 400;
  src: local('Balthazar Regular'), local('Balthazar-Regular'), url(https://fonts.joway.io/s/balthazar/v8/d6lKkaajS8Gm4CVQjFEfzh7s.ttf) format('truetype');
}
