@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.joway.io/s/barlow/v2/7cHpv4kjgoGqM7E_DMs8.ttf) format('truetype');
}
