@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Semi Condensed Regular'), local('BarlowSemiCondensed-Regular'), url(https://fonts.joway.io/s/barlowsemicondensed/v3/wlpvgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXeIqv.ttf) format('truetype');
}
