@font-face {
  font-family: 'Barrio';
  font-style: normal;
  font-weight: 400;
  src: local('Barrio Regular'), local('Barrio-Regular'), url(https://fonts.joway.io/s/barrio/v3/wEO8EBXBk8hBIDi0cgwl.ttf) format('truetype');
}
