@font-face {
  font-family: 'Battambang';
  font-style: normal;
  font-weight: 400;
  src: local('Battambang Regular'), local('Battambang-Regular'), url(https://fonts.joway.io/s/battambang/v12/uk-mEGe7raEw-HjkzZabDnU.ttf) format('truetype');
}
