@font-face {
  font-family: 'Baumans';
  font-style: normal;
  font-weight: 400;
  src: local('Baumans Regular'), local('Baumans-Regular'), url(https://fonts.joway.io/s/baumans/v8/-W_-XJj9QyTd3Qfpd_04bg.ttf) format('truetype');
}
