@font-face {
  font-family: 'Bayon';
  font-style: normal;
  font-weight: 400;
  src: local('Bayon Regular'), local('Bayon-Regular'), url(https://fonts.joway.io/s/bayon/v12/9XUrlJNmn0LPFl-p.ttf) format('truetype');
}
