@font-face {
  font-family: 'Belgrano';
  font-style: normal;
  font-weight: 400;
  src: local('Belgrano Regular'), local('Belgrano-Regular'), url(https://fonts.joway.io/s/belgrano/v9/55xvey5tM9rwKWrJZfMCgL0.ttf) format('truetype');
}
