@font-face {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  src: local('Bellefair Regular'), local('Bellefair-Regular'), url(https://fonts.joway.io/s/bellefair/v4/kJExBuYY6AAuhiXUxG1N-Poy.ttf) format('truetype');
}
