@font-face {
  font-family: 'Belleza';
  font-style: normal;
  font-weight: 400;
  src: local('Belleza Regular'), local('Belleza-Regular'), url(https://fonts.joway.io/s/belleza/v7/0nkoC9_pNeMfhX4BhcH4bw.ttf) format('truetype');
}
