@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: local('BenchNine Regular'), local('BenchNine-Regular'), url(https://fonts.joway.io/s/benchnine/v6/ahcbv8612zF4jxrwMosbUMlx.ttf) format('truetype');
}
