@font-face {
  font-family: 'Bentham';
  font-style: normal;
  font-weight: 400;
  src: local('Bentham Regular'), local('Bentham-Regular'), url(https://fonts.joway.io/s/bentham/v9/VdGeAZQPEpYfmHglGWsxDA.ttf) format('truetype');
}
