@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  src: local('Berkshire Swash Regular'), local('BerkshireSwash-Regular'), url(https://fonts.joway.io/s/berkshireswash/v7/ptRRTi-cavZOGqCvnNJDl5m5XmN_qs42.ttf) format('truetype');
}
