@font-face {
  font-family: 'Bevan';
  font-style: normal;
  font-weight: 400;
  src: local('Bevan Regular'), local('Bevan-Regular'), url(https://fonts.joway.io/s/bevan/v9/4iCj6KZ0a9NXjG8dWC4.ttf) format('truetype');
}
