@font-face {
  font-family: 'Bigelow Rules';
  font-style: normal;
  font-weight: 400;
  src: local('Bigelow Rules Regular'), local('BigelowRules-Regular'), url(https://fonts.joway.io/s/bigelowrules/v7/RrQWboly8iR_I3KWSzeRuN0zf4AIGw.ttf) format('truetype');
}
