@font-face {
  font-family: 'Bigshot One';
  font-style: normal;
  font-weight: 400;
  src: local('Bigshot One Regular'), local('BigshotOne-Regular'), url(https://fonts.joway.io/s/bigshotone/v9/u-470qukhRkkO6BD_7cM_jxpWwY.ttf) format('truetype');
}
