@font-face {
  font-family: 'Bilbo Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Bilbo Swash Caps Regular'), local('BilboSwashCaps-Regular'), url(https://fonts.joway.io/s/bilboswashcaps/v11/zrf-0GXbz-H3Wb4XBsGrTgq2PVmdmATiog.ttf) format('truetype');
}
