@font-face {
  font-family: 'Bilbo';
  font-style: normal;
  font-weight: 400;
  src: local('Bilbo Regular'), local('Bilbo-Regular'), url(https://fonts.joway.io/s/bilbo/v8/o-0EIpgpwWwZ220mroA.ttf) format('truetype');
}
