@font-face {
  font-family: 'BioRhyme';
  font-style: normal;
  font-weight: 400;
  src: local('BioRhyme'), local('BioRhyme-Regular'), url(https://fonts.joway.io/s/biorhyme/v3/1cXwaULHBpDMsHYW_ExBr1E.ttf) format('truetype');
}
