@font-face {
  font-family: 'BioRhyme Expanded';
  font-style: normal;
  font-weight: 400;
  src: local('BioRhyme Expanded'), local('BioRhymeExpanded-Regular'), url(https://fonts.joway.io/s/biorhymeexpanded/v4/i7dQIE1zZzytGswgU577CDY9LjbffxSTT3Q.ttf) format('truetype');
}
