@font-face {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 400;
  src: local('Biryani Regular'), local('Biryani-Regular'), url(https://fonts.joway.io/s/biryani/v3/hv-WlzNxIFoO84YdfUsTOQ.ttf) format('truetype');
}
