@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local('Bitter Regular'), local('Bitter-Regular'), url(https://fonts.joway.io/s/bitter/v13/rax8HiqOu8IVPmn7f4xs.ttf) format('truetype');
}
