@font-face {
  font-family: 'Black Ops One';
  font-style: normal;
  font-weight: 400;
  src: local('Black Ops One Regular'), local('BlackOpsOne-Regular'), url(https://fonts.joway.io/s/blackopsone/v9/qWcsB6-ypo7xBdr6Xshe96H3aDvbsg.ttf) format('truetype');
}
