@font-face {
  font-family: 'Black And White Picture';
  font-style: normal;
  font-weight: 400;
  src: local('Black And White Picture Regular'), local('BlackAndWhitePicture-Regular'), url(https://fonts.joway.io/s/blackandwhitepicture/v5/TwMe-JAERlQd3ooUHBUXGmrmioKjjnRSFO-NqL5AZ8c.ttf) format('truetype');
}
