@font-face {
  font-family: 'Bonbon';
  font-style: normal;
  font-weight: 400;
  src: local('Bonbon Regular'), local('Bonbon-Regular'), url(https://fonts.joway.io/s/bonbon/v10/0FlVVPeVlFec4eePdzsE.ttf) format('truetype');
}
