@font-face {
  font-family: 'Boogaloo';
  font-style: normal;
  font-weight: 400;
  src: local('Boogaloo Regular'), local('Boogaloo-Regular'), url(https://fonts.joway.io/s/boogaloo/v9/kmK-Zq45GAvOdnaW6y1C9y4.ttf) format('truetype');
}
