@font-face {
  font-family: 'Bowlby One SC';
  font-style: normal;
  font-weight: 400;
  src: local('Bowlby One SC Regular'), local('BowlbyOneSC-Regular'), url(https://fonts.joway.io/s/bowlbyonesc/v9/DtVlJxerQqQm37tzN3wMug9P_g_2pw.ttf) format('truetype');
}
