@font-face {
  font-family: 'Bowlby One';
  font-style: normal;
  font-weight: 400;
  src: local('Bowlby One Regular'), local('BowlbyOne-Regular'), url(https://fonts.joway.io/s/bowlbyone/v10/taiPGmVuC4y96PFeqp8sqomI-Q.ttf) format('truetype');
}
