@font-face {
  font-family: 'Brawler';
  font-style: normal;
  font-weight: 400;
  src: local('Brawler Regular'), local('Brawler-Regular'), url(https://fonts.joway.io/s/brawler/v9/xn7gYHE3xXewAscGggexTw.ttf) format('truetype');
}
