@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif Regular'), local('BreeSerif-Regular'), url(https://fonts.joway.io/s/breeserif/v7/4UaHrEJCrhhnVA3DgluA96rp4g.ttf) format('truetype');
}
