@font-face {
  font-family: 'Bubbler One';
  font-style: normal;
  font-weight: 400;
  src: local('Bubbler One Regular'), local('BubblerOne-Regular'), url(https://fonts.joway.io/s/bubblerone/v7/f0Xy0eqj68ppQV9KBLmAotHA0ac.ttf) format('truetype');
}
