@font-face {
  font-family: 'Bubblegum Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Bubblegum Sans Regular'), local('BubblegumSans-Regular'), url(https://fonts.joway.io/s/bubblegumsans/v7/AYCSpXb_Z9EORv1M5QTjEzMEteaAxIc.ttf) format('truetype');
}
