@font-face {
  font-family: 'Buenard';
  font-style: normal;
  font-weight: 400;
  src: local('Buenard Regular'), local('Buenard-Regular'), url(https://fonts.joway.io/s/buenard/v10/OD5DuM6Cyma8FnnsDzD3rA.ttf) format('truetype');
}
