@font-face {
  font-family: 'Bungee Outline';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Outline'), local('BungeeOutline-Regular'), url(https://fonts.joway.io/s/bungeeoutline/v4/_6_mEDvmVP24UvU2MyiGDslL3TgwaBY.ttf) format('truetype');
}
