@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Shade'), local('BungeeShade-Regular'), url(https://fonts.joway.io/s/bungeeshade/v4/DtVkJxarWL0t2KdzK3oI_jkc6SjW.ttf) format('truetype');
}
