@font-face {
  font-family: 'Bungee Hairline';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Hairline'), local('BungeeHairline-Regular'), url(https://fonts.joway.io/s/bungeehairline/v4/snfys0G548t04270a_ljTLUVrv-LZxeZ.ttf) format('truetype');
}
