@font-face {
  font-family: 'Bungee Inline';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Inline'), local('BungeeInline-Regular'), url(https://fonts.joway.io/s/bungeeinline/v4/Gg8zN58UcgnlCweMrih332VuPGV__A.ttf) format('truetype');
}
