@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee'), local('Bungee-Regular'), url(https://fonts.joway.io/s/bungee/v4/N0bU2SZBIuF2PU_0DXRw.ttf) format('truetype');
}
