@font-face {
  font-family: 'Butcherman';
  font-style: normal;
  font-weight: 400;
  src: local('Butcherman Regular'), local('Butcherman-Regular'), url(https://fonts.joway.io/s/butcherman/v10/2EbiL-thF0loflXUBOdb5zK5rw.ttf) format('truetype');
}
