@font-face {
  font-family: 'Butterfly Kids';
  font-style: normal;
  font-weight: 400;
  src: local('Butterfly Kids Regular'), local('ButterflyKids-Regular'), url(https://fonts.joway.io/s/butterflykids/v7/ll8lK2CWTjuqAsXDqlnIbMNs5R4dpRU.ttf) format('truetype');
}
