@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'), url(https://fonts.joway.io/s/cabinsketch/v11/QGYpz_kZZAGCONcK2A4bGOj8mNhI.ttf) format('truetype');
}
