@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Condensed'), local('CabinCondensed-Regular'), url(https://fonts.joway.io/s/cabincondensed/v11/nwpMtK6mNhBK2err_hqkYhHRqmwqZ-Ld.ttf) format('truetype');
}
