@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin'), local('Cabin-Regular'), url(https://fonts.joway.io/s/cabin/v12/u-4x0qWljRw-Pd8w__g.ttf) format('truetype');
}
