@font-face {
  font-family: 'Caesar Dressing';
  font-style: normal;
  font-weight: 400;
  src: local('Caesar Dressing'), local('CaesarDressing-Regular'), url(https://fonts.joway.io/s/caesardressing/v7/yYLx0hLa3vawqtwdswbotmK4vrRHdrz-.ttf) format('truetype');
}
