@font-face {
  font-family: 'Cagliostro';
  font-style: normal;
  font-weight: 400;
  src: local('Cagliostro Regular'), local('Cagliostro-Regular'), url(https://fonts.joway.io/s/cagliostro/v7/ZgNWjP5HM73BV5amnX-TvGLONw.ttf) format('truetype');
}
