@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(https://fonts.joway.io/s/cairo/v4/SLXGc1nY6HkvalIhTp4.ttf) format('truetype');
}
