@font-face {
  font-family: 'Calligraffitti';
  font-style: normal;
  font-weight: 400;
  src: local('Calligraffitti Regular'), local('Calligraffitti-Regular'), url(https://fonts.joway.io/s/calligraffitti/v10/46k2lbT3XjDVqJw3DCmCFjE0vkFeOZI.ttf) format('truetype');
}
