@font-face {
  font-family: 'Cambo';
  font-style: normal;
  font-weight: 400;
  src: local('Cambo'), local('Cambo-Regular'), url(https://fonts.joway.io/s/cambo/v7/IFSqHeNEk8FJk719qEo.ttf) format('truetype');
}
