@font-face {
  font-family: 'Cambay';
  font-style: normal;
  font-weight: 400;
  src: local('Cambay Regular'), local('Cambay-Regular'), url(https://fonts.joway.io/s/cambay/v5/SLXJc1rY6H0_ZDs2ab6M.ttf) format('truetype');
}
