@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: local('Cantarell Regular'), local('Cantarell-Regular'), url(https://fonts.joway.io/s/cantarell/v7/B50NF7ZDq37KMUvlO015jKJu.ttf) format('truetype');
}
