@font-face {
  font-family: 'Cantata One';
  font-style: normal;
  font-weight: 400;
  src: local('Cantata One'), local('CantataOne-Regular'), url(https://fonts.joway.io/s/cantataone/v7/PlI5Fl60Nb5obNzNe2jslWxDvcQ.ttf) format('truetype');
}
