@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  src: local('Cardo'), local('Cardo-Regular'), url(https://fonts.joway.io/s/cardo/v9/wlp_gwjKBV1pqhv43IQ.ttf) format('truetype');
}
