@font-face {
  font-family: 'Carrois Gothic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Carrois Gothic SC Regular'), local('CarroisGothicSC-Regular'), url(https://fonts.joway.io/s/carroisgothicsc/v8/ZgNJjOVHM6jfUZCmyUqT2A2HVKjc-18gPnI.ttf) format('truetype');
}
