@font-face {
  font-family: 'Carrois Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Carrois Gothic Regular'), local('CarroisGothic-Regular'), url(https://fonts.joway.io/s/carroisgothic/v9/Z9XPDmFATg-N1PLtLOOxvIHl9amE1Co.ttf) format('truetype');
}
