@font-face {
  font-family: 'Carter One';
  font-style: normal;
  font-weight: 400;
  src: local('Carter One'), local('CarterOne'), url(https://fonts.joway.io/s/carterone/v9/q5uCsoe5IOB2-pXv9UcNExN8gQ.ttf) format('truetype');
}
