@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran Regular'), local('Catamaran-Regular'), url(https://fonts.joway.io/s/catamaran/v4/o-0IIpQoyXQa2RxT7-5r5TRF.ttf) format('truetype');
}
