@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: local('Caveat Regular'), local('Caveat-Regular'), url(https://fonts.joway.io/s/caveat/v4/Wnz6HAc5bAfYB2Q7ZjYd.ttf) format('truetype');
}
