@font-face {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  src: local('Caveat Brush'), local('CaveatBrush-Regular'), url(https://fonts.joway.io/s/caveatbrush/v3/EYq0maZfwr9S9-ETZc3fKXt8XLOX.ttf) format('truetype');
}
