@font-face {
  font-family: 'Cedarville Cursive';
  font-style: normal;
  font-weight: 400;
  src: local('Cedarville Cursive'), local('Cedarville-Cursive'), url(https://fonts.joway.io/s/cedarvillecursive/v10/yYL00g_a2veiudhUmxjo5VKkoqA-B_nuIrp1.ttf) format('truetype');
}
