@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 400;
  src: local('Chakra Petch Regular'), local('ChakraPetch-Regular'), url(https://fonts.joway.io/s/chakrapetch/v2/cIf6MapbsEk7TDLdtEz1BwkWn6pl.ttf) format('truetype');
}
