@font-face {
  font-family: 'Changa One';
  font-style: normal;
  font-weight: 400;
  src: local('Changa One'), local('ChangaOne'), url(https://fonts.joway.io/s/changaone/v11/xfu00W3wXn3QLUJXhzq42AHivA.ttf) format('truetype');
}
