@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 400;
  src: local('Changa'), local('Changa-Regular'), url(https://fonts.joway.io/s/changa/v5/2-cm9JNi2YuVOUckZpy7.ttf) format('truetype');
}
