@font-face {
  font-family: 'Charmonman';
  font-style: normal;
  font-weight: 400;
  src: local('Charmonman Regular'), local('Charmonman-Regular'), url(https://fonts.joway.io/s/charmonman/v2/MjQDmiR3vP_nuxDv47jiaJaiuA.ttf) format('truetype');
}
