@font-face {
  font-family: 'Charm';
  font-style: normal;
  font-weight: 400;
  src: local('Charm Regular'), local('Charm-Regular'), url(https://fonts.joway.io/s/charm/v3/7cHmv4oii5K0MdYoK-s.ttf) format('truetype');
}
