@font-face {
  font-family: 'Chathura';
  font-style: normal;
  font-weight: 400;
  src: local('Chathura Regular'), local('Chathura-Regular'), url(https://fonts.joway.io/s/chathura/v4/_gP71R7-rzUuVjim428nq0Q.ttf) format('truetype');
}
