@font-face {
  font-family: 'Chela One';
  font-style: normal;
  font-weight: 400;
  src: local('Chela One'), local('ChelaOne-Regular'), url(https://fonts.joway.io/s/chelaone/v7/6ae-4KC7Uqgdz_JZdPIC2FHS.ttf) format('truetype');
}
