@font-face {
  font-family: 'Cherry Swash';
  font-style: normal;
  font-weight: 400;
  src: local('Cherry Swash'), local('CherrySwash-Regular'), url(https://fonts.joway.io/s/cherryswash/v7/i7dNIFByZjaNAMxtZcnfAy5MR3K6.ttf) format('truetype');
}
