@font-face {
  font-family: 'Cherry Cream Soda';
  font-style: normal;
  font-weight: 400;
  src: local('Cherry Cream Soda Regular'), local('CherryCreamSoda-Regular'), url(https://fonts.joway.io/s/cherrycreamsoda/v9/UMBIrOxBrW6w2FFyi9paG0fdVdRciQd9A9o.ttf) format('truetype');
}
