@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  src: local('Chewy Regular'), local('Chewy-Regular'), url(https://fonts.joway.io/s/chewy/v9/uK_94ruUb-k-wn52Kjc.ttf) format('truetype');
}
