@font-face {
  font-family: 'Chicle';
  font-style: normal;
  font-weight: 400;
  src: local('Chicle Regular'), local('Chicle-Regular'), url(https://fonts.joway.io/s/chicle/v7/lJwG-pw9i2dqU-Bzzmiq.ttf) format('truetype');
}
