@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  src: local('Chivo Regular'), local('Chivo-Regular'), url(https://fonts.joway.io/s/chivo/v9/va9I4kzIxd1KFrBoQeY.ttf) format('truetype');
}
