@font-face {
  font-family: 'Chonburi';
  font-style: normal;
  font-weight: 400;
  src: local('Chonburi'), local('Chonburi-Regular'), url(https://fonts.joway.io/s/chonburi/v3/8AtqGs-wOpGRTBq66LWdHLk.ttf) format('truetype');
}
