@font-face {
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 400;
  src: local('Cinzel Decorative Regular'), local('CinzelDecorative-Regular'), url(https://fonts.joway.io/s/cinzeldecorative/v7/daaCSScvJGqLYhG8nNt8KPPswUAPni7TTMk.ttf) format('truetype');
}
