@font-face {
  font-family: 'Clicker Script';
  font-style: normal;
  font-weight: 400;
  src: local('Clicker Script'), local('ClickerScript-Regular'), url(https://fonts.joway.io/s/clickerscript/v6/raxkHiKPvt8CMH6ZWP8PdlEq71rf0T4.ttf) format('truetype');
}
