@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 400;
  src: local('Coda Regular'), local('Coda-Regular'), url(https://fonts.joway.io/s/coda/v13/SLXHc1jY5nQ8FUUGbg.ttf) format('truetype');
}
