@font-face {
  font-family: 'Coiny';
  font-style: normal;
  font-weight: 400;
  src: local('Coiny Regular'), local('Coiny-Regular'), url(https://fonts.joway.io/s/coiny/v4/gyByhwU1K989PUwcGFA.ttf) format('truetype');
}
