@font-face {
  font-family: 'Combo';
  font-style: normal;
  font-weight: 400;
  src: local('Combo'), local('Combo-Regular'), url(https://fonts.joway.io/s/combo/v7/BXRlvF3Jh_fIhj0lDOs.ttf) format('truetype');
}
