@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(https://fonts.joway.io/s/comfortaa/v12/1Ptsg8LJRfWJmhDAuUs4TYFv.ttf) format('truetype');
}
