@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  src: local('Coming Soon Regular'), local('ComingSoon-Regular'), url(https://fonts.joway.io/s/comingsoon/v8/qWcuB6mzpYL7AJ2VfdQR1t-VWDw.ttf) format('truetype');
}
