@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  src: local('Concert One'), local('ConcertOne-Regular'), url(https://fonts.joway.io/s/concertone/v8/VEM1Ro9xs5PjtzCu-srDqSTijPs.ttf) format('truetype');
}
