@font-face {
  font-family: 'Condiment';
  font-style: normal;
  font-weight: 400;
  src: local('Condiment'), local('Condiment-Regular'), url(https://fonts.joway.io/s/condiment/v6/pONk1hggFNmwvXALyH6irIP8.ttf) format('truetype');
}
