/* khmer */
@font-face {
  font-family: 'Content';
  font-style: normal;
  font-weight: 400;
  src: local('Content'), url(https://fonts.joway.io/s/content/v11/zrfl0HLayePhU_AwYaz4IwD3VCnWiQ.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
