@font-face {
  font-family: 'Contrail One';
  font-style: normal;
  font-weight: 400;
  src: local('Contrail One'), local('ContrailOne-Regular'), url(https://fonts.joway.io/s/contrailone/v8/eLGbP-j_JA-kG0_Zo51noaftYkHp.ttf) format('truetype');
}
