@font-face {
  font-family: 'Convergence';
  font-style: normal;
  font-weight: 400;
  src: local('Convergence-Regular'), url(https://fonts.joway.io/s/convergence/v7/rax5HiePvdgXPmmMHcIPYShdu0o.ttf) format('truetype');
}
