@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 400;
  src: local('Corben Regular'), local('Corben-Regular'), url(https://fonts.joway.io/s/corben/v12/LYjDdGzzklQtCMpNpwNA.ttf) format('truetype');
}
