@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: local('Cormorant Regular'), local('Cormorant-Regular'), url(https://fonts.joway.io/s/cormorant/v6/H4clBXOCl9bbnla_nHIq75u4.ttf) format('truetype');
}
