@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 400;
  src: local('Cormorant Infant Regular'), local('CormorantInfant-Regular'), url(https://fonts.joway.io/s/cormorantinfant/v7/HhyPU44g9vKiM1sORYSiWeAsLN997_cV3A.ttf) format('truetype');
}
