@font-face {
  font-family: 'Cormorant Unicase';
  font-style: normal;
  font-weight: 400;
  src: local('Cormorant Unicase Regular'), local('CormorantUnicase-Regular'), url(https://fonts.joway.io/s/cormorantunicase/v7/HI_QiZUaILtOqhqgDeXoF_n1_fTGX9vUlMc.ttf) format('truetype');
}
