@font-face {
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 400;
  src: local('Cormorant SC Regular'), local('CormorantSC-Regular'), url(https://fonts.joway.io/s/cormorantsc/v7/0yb5GD4kxqXBmOVLG30OGwsuqzA0.ttf) format('truetype');
}
