@font-face {
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 400;
  src: local('Cormorant Upright Regular'), local('CormorantUpright-Regular'), url(https://fonts.joway.io/s/cormorantupright/v5/VuJrdM3I2Y35poFONtLdafkUCHw1y1vShDA.ttf) format('truetype');
}
