@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.joway.io/s/courgette/v5/wEO_EBrAnc9BLjLQAUk1VvoP.ttf) format('truetype');
}
