@font-face {
  font-family: 'Coustard';
  font-style: normal;
  font-weight: 400;
  src: local('Coustard Regular'), local('Coustard-Regular'), url(https://fonts.joway.io/s/coustard/v8/3XFpErgg3YsZ5fqUU-UIt2E.ttf) format('truetype');
}
