@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: local('Cousine Regular'), local('Cousine-Regular'), url(https://fonts.joway.io/s/cousine/v12/d6lIkaiiRdih4SpP_SQvyQ.ttf) format('truetype');
}
