@font-face {
  font-family: 'Covered By Your Grace';
  font-style: normal;
  font-weight: 400;
  src: local('Covered By Your Grace'), local('CoveredByYourGrace'), url(https://fonts.joway.io/s/coveredbyyourgrace/v7/QGYwz-AZahWOJJI9kykWW9mD6opopoqXSOSEEQgp.ttf) format('truetype');
}
