@font-face {
  font-family: 'Crafty Girls';
  font-style: normal;
  font-weight: 400;
  src: local('Crafty Girls Regular'), local('CraftyGirls-Regular'), url(https://fonts.joway.io/s/craftygirls/v8/va9B4kXI39VaDdlPJo8N_NveRhf_.ttf) format('truetype');
}
