@font-face {
  font-family: 'Creepster';
  font-style: normal;
  font-weight: 400;
  src: local('Creepster'), local('Creepster-Regular'), url(https://fonts.joway.io/s/creepster/v7/AlZy_zVUqJz4yMrniH4Rcn38.ttf) format('truetype');
}
