@font-face {
  font-family: 'Crushed';
  font-style: normal;
  font-weight: 400;
  src: local('Crushed Regular'), local('Crushed-Regular'), url(https://fonts.joway.io/s/crushed/v9/U9Mc6dym6WXImTlFf14VvA.ttf) format('truetype');
}
