@font-face {
  font-family: 'Cute Font';
  font-style: normal;
  font-weight: 400;
  src: local('Cute Font Regular'), local('CuteFont-Regular'), url(https://fonts.joway.io/s/cutefont/v5/Noaw6Uny2oWPbSHMrY6fn5lR.ttf) format('truetype');
}
