@font-face {
  font-family: 'Cutive';
  font-style: normal;
  font-weight: 400;
  src: local('Cutive'), local('Cutive-Regular'), url(https://fonts.joway.io/s/cutive/v10/NaPZcZ_fHOhV3IpLSPJH.ttf) format('truetype');
}
