@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 400;
  src: local('David Libre'), local('DavidLibre-Regular'), url(https://fonts.joway.io/s/davidlibre/v3/snfus0W_99N64iuYSvp4W8l74Jo.ttf) format('truetype');
}
