@font-face {
  font-family: 'Dawning of a New Day';
  font-style: normal;
  font-weight: 400;
  src: local('Dawning of a New Day'), local('DawningofaNewDay'), url(https://fonts.joway.io/s/dawningofanewday/v9/t5t_IQMbOp2SEwuncwLRjMfIg1yYit_nAw8cj2Y.ttf) format('truetype');
}
