@font-face {
  font-family: 'Days One';
  font-style: normal;
  font-weight: 400;
  src: local('Days One'), local('DaysOne-Regular'), url(https://fonts.joway.io/s/daysone/v8/mem9YaCnxnKRiYZOCIYScr0.ttf) format('truetype');
}
