@font-face {
  font-family: 'Delius Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Delius Swash Caps'), local('DeliusSwashCaps-Regular'), url(https://fonts.joway.io/s/deliusswashcaps/v10/oY1E8fPLr7v4JWCExZpWebxVKORpXUeaIGM.ttf) format('truetype');
}
