@font-face {
  font-family: 'Della Respira';
  font-style: normal;
  font-weight: 400;
  src: local('Della Respira'), local('DellaRespira-Regular'), url(https://fonts.joway.io/s/dellarespira/v6/RLp5K5v44KaueWI6iEJQBiGPdf4Yvw.ttf) format('truetype');
}
