@font-face {
  font-family: 'Denk One';
  font-style: normal;
  font-weight: 400;
  src: local('Denk One'), local('DenkOne-Regular'), url(https://fonts.joway.io/s/denkone/v6/dg4m_pzhrqcFb2IzRNtAr7w.ttf) format('truetype');
}
