@font-face {
  font-family: 'Devonshire';
  font-style: normal;
  font-weight: 400;
  src: local('Devonshire-Regular'), url(https://fonts.joway.io/s/devonshire/v7/46kqlbDwWirWr4gtBD2Bb0Jg1w.ttf) format('truetype');
}
