@font-face {
  font-family: 'Diplomata SC';
  font-style: normal;
  font-weight: 400;
  src: local('Diplomata SC'), local('DiplomataSC-Regular'), url(https://fonts.joway.io/s/diplomatasc/v7/buExpoi3ecvs3kidKgBJo2kv__RK.ttf) format('truetype');
}
