@font-face {
  font-family: 'Do Hyeon';
  font-style: normal;
  font-weight: 400;
  src: local('Do Hyeon Regular'), local('DoHyeon-Regular'), url(https://fonts.joway.io/s/dohyeon/v8/TwMN-I8CRRU2zM86HGEwbQI.ttf) format('truetype');
}
