@font-face {
  font-family: 'Dokdo';
  font-style: normal;
  font-weight: 400;
  src: local('Dokdo Regular'), local('Dokdo-Regular'), url(https://fonts.joway.io/s/dokdo/v5/esDf315XNuCBLyLv6tI.ttf) format('truetype');
}
