@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 400;
  src: local('Domine'), local('Domine-Regular'), url(https://fonts.joway.io/s/domine/v5/L0x8DFMnlVwD4h3hu_qi.ttf) format('truetype');
}
