@font-face {
  font-family: 'Doppio One';
  font-style: normal;
  font-weight: 400;
  src: local('Doppio One Regular'), local('DoppioOne-Regular'), url(https://fonts.joway.io/s/doppioone/v6/Gg8wN5gSaBfyBw2MqCh-pgwrLA.ttf) format('truetype');
}
