@font-face {
  font-family: 'Dorsa';
  font-style: normal;
  font-weight: 400;
  src: local('Dorsa'), local('Dorsa-Regular'), url(https://fonts.joway.io/s/dorsa/v9/yYLn0hjd0OGwqr4613Q.ttf) format('truetype');
}
