@font-face {
  font-family: 'Dr Sugiyama';
  font-style: normal;
  font-weight: 400;
  src: local('Dr Sugiyama Regular'), local('DrSugiyama-Regular'), url(https://fonts.joway.io/s/drsugiyama/v8/HTxoL2k4N3O9n5I1boGI7ZbWOYs.ttf) format('truetype');
}
