@font-face {
  font-family: 'Duru Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Duru Sans'), local('DuruSans-Regular'), url(https://fonts.joway.io/s/durusans/v12/xn7iYH8xwmSyTvEV_HOBSP3c.ttf) format('truetype');
}
