@font-face {
  font-family: 'Dynalight';
  font-style: normal;
  font-weight: 400;
  src: local('Dynalight'), local('Dynalight-Regular'), url(https://fonts.joway.io/s/dynalight/v7/1Ptsg8LOU_aOmQvTsF44TYFv.ttf) format('truetype');
}
