@font-face {
  font-family: 'Eagle Lake';
  font-style: normal;
  font-weight: 400;
  src: local('Eagle Lake'), local('EagleLake-Regular'), url(https://fonts.joway.io/s/eaglelake/v6/ptRMTiqbbuNJDOiKj9wG1On4LQ.ttf) format('truetype');
}
