@font-face {
  font-family: 'East Sea Dokdo';
  font-style: normal;
  font-weight: 400;
  src: local('East Sea Dokdo Regular'), local('EastSeaDokdo-Regular'), url(https://fonts.joway.io/s/eastseadokdo/v5/xfuo0Wn2V2_KanASqXSZp22m06_dE68.ttf) format('truetype');
}
