@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 400;
  src: local('Economica'), local('Economica-Regular'), url(https://fonts.joway.io/s/economica/v5/Qw3fZQZaHCLgIWa29ZBbNsIE.ttf) format('truetype');
}
