@font-face {
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 400;
  src: local('El Messiri'), local('ElMessiri-Regular'), url(https://fonts.joway.io/s/elmessiri/v4/K2F0fZBRmr9vQ1pHEey6Mo2ABw.ttf) format('truetype');
}
