@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: local('Electrolize'), local('Electrolize-Regular'), url(https://fonts.joway.io/s/electrolize/v6/cIf5Ma1dtE0zSiGSiED7AXEBuIo.ttf) format('truetype');
}
