@font-face {
  font-family: 'Elsie';
  font-style: normal;
  font-weight: 400;
  src: local('Elsie Regular'), local('Elsie-Regular'), url(https://fonts.joway.io/s/elsie/v8/BCanqZABrez54xYp_M0.ttf) format('truetype');
}
