@font-face {
  font-family: 'Elsie Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Elsie Swash Caps Regular'), local('ElsieSwashCaps-Regular'), url(https://fonts.joway.io/s/elsieswashcaps/v7/845DNN8xGZyVX5MVo_upKf7KnjK0Te3fLA.ttf) format('truetype');
}
