@font-face {
  font-family: 'Emilys Candy';
  font-style: normal;
  font-weight: 400;
  src: local('Emilys Candy'), local('EmilysCandy-Regular'), url(https://fonts.joway.io/s/emilyscandy/v6/2EbgL-1mD1Rnb0OGKudbk0yJqNZv.ttf) format('truetype');
}
