@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Encode Sans Condensed Regular'), local('EncodeSansCondensed-Regular'), url(https://fonts.joway.io/s/encodesanscondensed/v2/j8_16_LD37rqfuwxyIuaZhE6cRXOLtm2gfT2hq-J.ttf) format('truetype');
}
