@font-face {
  font-family: 'Encode Sans Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Encode Sans Semi Condensed Regular'), local('EncodeSansSemiCondensed-Regular'), url(https://fonts.joway.io/s/encodesanssemicondensed/v3/3qT4oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1yW9ME.ttf) format('truetype');
}
