@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Encode Sans Regular'), local('EncodeSans-Regular'), url(https://fonts.joway.io/s/encodesans/v3/LDI2apOFNxEwR-Bd1O9uYPOreeI.ttf) format('truetype');
}
