@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 400;
  src: local('Encode Sans Expanded Regular'), local('EncodeSansExpanded-Regular'), url(https://fonts.joway.io/s/encodesansexpanded/v3/c4m_1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpolKQM.ttf) format('truetype');
}
