@font-face {
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 400;
  src: local('Encode Sans Semi Expanded Regular'), local('EncodeSansSemiExpanded-Regular'), url(https://fonts.joway.io/s/encodesanssemiexpanded/v4/ke83OhAPMEZs-BDuzwftTNJ85JvwMOzE9d9Cca5TO401Kw.ttf) format('truetype');
}
