@font-face {
  font-family: 'Enriqueta';
  font-style: normal;
  font-weight: 400;
  src: local('Enriqueta-Regular'), url(https://fonts.joway.io/s/enriqueta/v6/goksH6L7AUFrRvV44HVjTEqn.ttf) format('truetype');
}
