@font-face {
  font-family: 'Erica One';
  font-style: normal;
  font-weight: 400;
  src: local('Erica One'), local('EricaOne-Regular'), url(https://fonts.joway.io/s/ericaone/v9/WBLnrEXccV9VGrOKmGDFXEXI.ttf) format('truetype');
}
