@font-face {
  font-family: 'Ewert';
  font-style: normal;
  font-weight: 400;
  src: local('Ewert'), local('Ewert-Regular'), url(https://fonts.joway.io/s/ewert/v6/va9I4kzO2tFODbBoQeY.ttf) format('truetype');
}
