@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(https://fonts.joway.io/s/exo2/v4/7cHmv4okm5zmbtYoK-s.ttf) format('truetype');
}
