@font-face {
  font-family: 'Expletus Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Expletus Sans'), local('ExpletusSans'), url(https://fonts.joway.io/s/expletussans/v12/RLp5K5v5_bqufTYdnhFzDj2ddf4Yvw.ttf) format('truetype');
}
