@font-face {
  font-family: 'Farsan';
  font-style: normal;
  font-weight: 400;
  src: local('Farsan Regular'), local('Farsan-Regular'), url(https://fonts.joway.io/s/farsan/v4/VEMwRoJ0vY_zsyzK3aWt.ttf) format('truetype');
}
