@font-face {
  font-family: 'Fascinate Inline';
  font-style: normal;
  font-weight: 400;
  src: local('Fascinate Inline'), local('FascinateInline-Regular'), url(https://fonts.joway.io/s/fascinateinline/v8/jVyR7mzzB3zc-jp6QCAu60poNqIy5grIeQ.ttf) format('truetype');
}
