@font-face {
  font-family: 'Fascinate';
  font-style: normal;
  font-weight: 400;
  src: local('Fascinate'), local('Fascinate-Regular'), url(https://fonts.joway.io/s/fascinate/v7/z7NWdRrufC8XJK0IIElS07zU.ttf) format('truetype');
}
