@font-face {
  font-family: 'Faster One';
  font-style: normal;
  font-weight: 400;
  src: local('Faster One'), local('FasterOne-Regular'), url(https://fonts.joway.io/s/fasterone/v10/H4ciBXCHmdfClFb-vWhf-LyYgg.ttf) format('truetype');
}
