@font-face {
  font-family: 'Fasthand';
  font-style: normal;
  font-weight: 400;
  src: local('Fasthand'), local('Fasthand-Regular'), url(https://fonts.joway.io/s/fasthand/v9/0yb9GDohyKTYn_ZEESku.ttf) format('truetype');
}
