/* khmer */
@font-face {
  font-family: 'Fasthand';
  font-style: normal;
  font-weight: 400;
  src: local('Fasthand'), local('Fasthand-Regular'), url(https://fonts.joway.io/s/fasthand/v9/0yb9GDohyKTYn_ZEERkiaE0Urhg0xTY.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
