@font-face {
  font-family: 'Fauna One';
  font-style: normal;
  font-weight: 400;
  src: local('Fauna One'), local('FaunaOne-Regular'), url(https://fonts.joway.io/s/faunaone/v5/wlpzgwTPBVpjpCuwkuEB3kZP.ttf) format('truetype');
}
