@font-face {
  font-family: 'Federo';
  font-style: normal;
  font-weight: 400;
  src: local('Federo'), local('Federo-Regular'), url(https://fonts.joway.io/s/federo/v10/iJWFBX-cbD_ETsbWilma.ttf) format('truetype');
}
