@font-face {
  font-family: 'Federant';
  font-style: normal;
  font-weight: 400;
  src: local('Federant'), local('Federant-Regular'), url(https://fonts.joway.io/s/federant/v10/2sDdZGNfip_eirT0_X0kT0U.ttf) format('truetype');
}
