@font-face {
  font-family: 'Felipa';
  font-style: normal;
  font-weight: 400;
  src: local('Felipa'), local('Felipa-Regular'), url(https://fonts.joway.io/s/felipa/v6/FwZa7-owz1Eu4F_AT96A.ttf) format('truetype');
}
