@font-face {
  font-family: 'Fenix';
  font-style: normal;
  font-weight: 400;
  src: local('Fenix'), local('Fenix-Regular'), url(https://fonts.joway.io/s/fenix/v6/XoHo2YL_S7-g5rsqITQ.ttf) format('truetype');
}
