@font-face {
  font-family: 'Finger Paint';
  font-style: normal;
  font-weight: 400;
  src: local('Finger Paint Regular'), local('FingerPaint-Regular'), url(https://fonts.joway.io/s/fingerpaint/v8/0QInMXVJ-o-oRn_7dron8YW-9JzW.ttf) format('truetype');
}
