@font-face {
  font-family: 'Fjord One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjord One'), local('Fjord-One'), url(https://fonts.joway.io/s/fjordone/v7/zOL-4pbEnKBY_9S1jNKb7uRE.ttf) format('truetype');
}
