@font-face {
  font-family: 'Flamenco';
  font-style: normal;
  font-weight: 400;
  src: local('Flamenco Regular'), local('Flamenco-Regular'), url(https://fonts.joway.io/s/flamenco/v9/neIIzCehqYguo67ssZWBFqk.ttf) format('truetype');
}
