@font-face {
  font-family: 'Flavors';
  font-style: normal;
  font-weight: 400;
  src: local('Flavors'), local('Flavors-Regular'), url(https://fonts.joway.io/s/flavors/v7/FBV2dDrhxqmveJTpXkvvMg.ttf) format('truetype');
}
