@font-face {
  font-family: 'Fondamento';
  font-style: normal;
  font-weight: 400;
  src: local('Fondamento Regular'), local('Fondamento-Regular'), url(https://fonts.joway.io/s/fondamento/v9/4UaHrEJGsxNmFTPDnkaJ96rp4g.ttf) format('truetype');
}
