@font-face {
  font-family: 'Fontdiner Swanky';
  font-style: normal;
  font-weight: 400;
  src: local('Fontdiner Swanky Regular'), local('FontdinerSwanky-Regular'), url(https://fonts.joway.io/s/fontdinerswanky/v9/ijwOs4XgRNsiaI5-hcVb4hQgMvCD0uYVLg.ttf) format('truetype');
}
