@font-face {
  font-family: 'Frank Ruhl Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Frank Ruhl Libre Regular'), local('FrankRuhlLibre-Regular'), url(https://fonts.joway.io/s/frankruhllibre/v3/j8_w6_fAw7jrcalD7oKYNX0QfAnPW7Dl5A.ttf) format('truetype');
}
