@font-face {
  font-family: 'Freckle Face';
  font-style: normal;
  font-weight: 400;
  src: local('Freckle Face'), local('FreckleFace-Regular'), url(https://fonts.joway.io/s/freckleface/v7/AMOWz4SXrmKHCvXTohxY-YIEVFiy.ttf) format('truetype');
}
