@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: local('Fredoka One'), local('FredokaOne-Regular'), url(https://fonts.joway.io/s/fredokaone/v5/k3kUo8kEI-tA1RRcTZGmTlHGCaI.ttf) format('truetype');
}
