@font-face {
  font-family: 'Fruktur';
  font-style: normal;
  font-weight: 400;
  src: local('Fruktur'), local('Fruktur-Regular'), url(https://fonts.joway.io/s/fruktur/v11/SZc53FHsOru5QYsMTzrMlQ.ttf) format('truetype');
}
