@font-face {
  font-family: 'Fugaz One';
  font-style: normal;
  font-weight: 400;
  src: local('Fugaz One'), local('FugazOne-Regular'), url(https://fonts.joway.io/s/fugazone/v7/rax_HiWKp9EAITukFsl8Axha.ttf) format('truetype');
}
