@font-face {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  src: local('Gabriela Regular'), local('Gabriela-Regular'), url(https://fonts.joway.io/s/gabriela/v7/qkBWXvsO6sreR8E-b8m5xL4.ttf) format('truetype');
}
