@font-face {
  font-family: 'Gaegu';
  font-style: normal;
  font-weight: 400;
  src: local('Gaegu Regular'), local('Gaegu-Regular'), url(https://fonts.joway.io/s/gaegu/v5/TuGfUVB6Up9NU5ZMq9w.ttf) format('truetype');
}
