@font-face {
  font-family: 'Galada';
  font-style: normal;
  font-weight: 400;
  src: local('Galada Regular'), local('Galada-Regular'), url(https://fonts.joway.io/s/galada/v4/H4cmBXyGmcjXlUXO9SY6.ttf) format('truetype');
}
