@font-face {
  font-family: 'Galdeano';
  font-style: normal;
  font-weight: 400;
  src: local('Galdeano Regular'), local('Galdeano-Regular'), url(https://fonts.joway.io/s/galdeano/v8/uU9MCBoQ4YOqOW1boAP2-vQ.ttf) format('truetype');
}
