@font-face {
  font-family: 'Galindo';
  font-style: normal;
  font-weight: 400;
  src: local('Galindo'), local('Galindo-Regular'), url(https://fonts.joway.io/s/galindo/v6/HI_KiYMeLqVKqwyuc5boQg.ttf) format('truetype');
}
