@font-face {
  font-family: 'Gamja Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Gamja Flower Regular'), local('GamjaFlower-Regular'), url(https://fonts.joway.io/s/gamjaflower/v5/6NUR8FiKJg-Pa0rM6uN40Z4UzvVB.ttf) format('truetype');
}
