@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 400;
  src: local('Gentium Book Basic'), local('GentiumBookBasic'), url(https://fonts.joway.io/s/gentiumbookbasic/v8/pe0zMJCbPYBVokB1LHA9bbyaQb8ZGjc4ULF_.ttf) format('truetype');
}
