@font-face {
  font-family: 'Geo';
  font-style: normal;
  font-weight: 400;
  src: local('Geo'), local('Geo-Regular'), url(https://fonts.joway.io/s/geo/v10/CSRz4zRZluflKHpi.ttf) format('truetype');
}
