@font-face {
  font-family: 'Geostar';
  font-style: normal;
  font-weight: 400;
  src: local('Geostar'), local('Geostar-Regular'), url(https://fonts.joway.io/s/geostar/v9/sykz-yx4n701VLOfhS23_g.ttf) format('truetype');
}
