@font-face {
  font-family: 'Geostar Fill';
  font-style: normal;
  font-weight: 400;
  src: local('Geostar Fill'), local('GeostarFill-Regular'), url(https://fonts.joway.io/s/geostarfill/v9/AMOWz4SWuWiXFfjEohxQ9osEVFiy.ttf) format('truetype');
}
