@font-face {
  font-family: 'GFS Neohellenic';
  font-style: normal;
  font-weight: 400;
  src: local('GFS Neohellenic Regular'), local('GFSNeohellenic-Regular'), url(https://fonts.joway.io/s/gfsneohellenic/v11/8QIRdiDOrfiq0b7R8O1Iw9WLcY5TLQ.ttf) format('truetype');
}
