@font-face {
  font-family: 'GFS Didot';
  font-style: normal;
  font-weight: 400;
  src: local('GFS Didot Regular'), local('GFSDidot-Regular'), url(https://fonts.joway.io/s/gfsdidot/v8/Jqzh5TybZ9vZMWFssvwiFw.ttf) format('truetype');
}
