@font-face {
  font-family: 'Gilda Display';
  font-style: normal;
  font-weight: 400;
  src: local('Gilda Display'), local('GildaDisplay-Regular'), url(https://fonts.joway.io/s/gildadisplay/v6/t5tmIRoYMoaYG0WEOh7HwMeR3T7Pqg.ttf) format('truetype');
}
