@font-face {
  font-family: 'Give You Glory';
  font-style: normal;
  font-weight: 400;
  src: local('Give You Glory'), local('GiveYouGlory'), url(https://fonts.joway.io/s/giveyouglory/v8/8QIQdiHOgt3vv4LR7ahjw9-XYf10DYI.ttf) format('truetype');
}
