@font-face {
  font-family: 'Glass Antiqua';
  font-style: normal;
  font-weight: 400;
  src: local('Glass Antiqua'), local('GlassAntiqua-Regular'), url(https://fonts.joway.io/s/glassantiqua/v6/xfu30Wr0Wn3NOQM2piC0uXOjrLj6Mw.ttf) format('truetype');
}
