@font-face {
  font-family: 'Glegoo';
  font-style: normal;
  font-weight: 400;
  src: local('Glegoo'), local('Glegoo-Regular'), url(https://fonts.joway.io/s/glegoo/v7/_Xmt-HQyrTKWaw25jKOd.ttf) format('truetype');
}
