@font-face {
  font-family: 'Gochi Hand';
  font-style: normal;
  font-weight: 400;
  src: local('Gochi Hand'), local('GochiHand-Regular'), url(https://fonts.joway.io/s/gochihand/v8/hES06XlsOjtJsgCkx1Pkfon__g.ttf) format('truetype');
}
