@font-face {
  font-family: 'Graduate';
  font-style: normal;
  font-weight: 400;
  src: local('Graduate'), local('Graduate-Regular'), url(https://fonts.joway.io/s/graduate/v6/C8cg4cs3o2n15t_2YygW43k.ttf) format('truetype');
}
