@font-face {
  font-family: 'Grand Hotel';
  font-style: normal;
  font-weight: 400;
  src: local('Grand Hotel'), local('GrandHotel-Regular'), url(https://fonts.joway.io/s/grandhotel/v5/7Au7p_IgjDKdCRWuR1azplQKGFk.ttf) format('truetype');
}
