@font-face {
  font-family: 'Gravitas One';
  font-style: normal;
  font-weight: 400;
  src: local('Gravitas One'), local('GravitasOne'), url(https://fonts.joway.io/s/gravitasone/v8/5h1diZ4hJ3cblKy3LWakKQmqCm5J.ttf) format('truetype');
}
