@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(https://fonts.joway.io/s/greatvibes/v5/RWmMoKWR9v4ksMfaWd_JN9XFiaE.ttf) format('truetype');
}
