@font-face {
  font-family: 'Griffy';
  font-style: normal;
  font-weight: 400;
  src: local('Griffy'), local('Griffy-Regular'), url(https://fonts.joway.io/s/griffy/v7/FwZa7-ox2FQh9kfAT96A.ttf) format('truetype');
}
