@font-face {
  font-family: 'Gugi';
  font-style: normal;
  font-weight: 400;
  src: local('Gugi Regular'), local('Gugi-Regular'), url(https://fonts.joway.io/s/gugi/v5/A2BVn5dXywshZAmK8A.ttf) format('truetype');
}
