@font-face {
  font-family: 'Gurajada';
  font-style: normal;
  font-weight: 400;
  src: local('Gurajada'), url(https://fonts.joway.io/s/gurajada/v6/FwZY7-Qx308m-l-0Ke6H6Mw.ttf) format('truetype');
}
