@font-face {
  font-family: 'Habibi';
  font-style: normal;
  font-weight: 400;
  src: local('Habibi'), local('Habibi-Regular'), url(https://fonts.joway.io/s/habibi/v7/CSR-4zFWkuqcTTNyTRha.ttf) format('truetype');
}
