@font-face {
  font-family: 'Halant';
  font-style: normal;
  font-weight: 400;
  src: local('Halant Regular'), local('Halant-Regular'), url(https://fonts.joway.io/s/halant/v6/u-4-0qaujRI2Pbsn2Nhi.ttf) format('truetype');
}
