@font-face {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  src: local('Hammersmith One'), local('HammersmithOne'), url(https://fonts.joway.io/s/hammersmithone/v8/qWcyB624q4L_C4jGQ9IK0O_dFlnrtREg.ttf) format('truetype');
}
