@font-face {
  font-family: 'Hanalei Fill';
  font-style: normal;
  font-weight: 400;
  src: local('Hanalei Fill'), local('HanaleiFill-Regular'), url(https://fonts.joway.io/s/hanaleifill/v7/fC1mPYtObGbfyQznIaQzPQi8UAjF.ttf) format('truetype');
}
