@font-face {
  font-family: 'Hanalei';
  font-style: normal;
  font-weight: 400;
  src: local('Hanalei'), local('Hanalei-Regular'), url(https://fonts.joway.io/s/hanalei/v8/E21n_dD8iufIjBRHbz8sUw.ttf) format('truetype');
}
