@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  src: local('Handlee Regular'), local('Handlee-Regular'), url(https://fonts.joway.io/s/handlee/v6/-F6xfjBsISg9aMakPm3wpg.ttf) format('truetype');
}
