@font-face {
  font-family: 'Hanuman';
  font-style: normal;
  font-weight: 400;
  src: local('Hanuman Regular'), local('Hanuman-Regular'), url(https://fonts.joway.io/s/hanuman/v11/VuJxdNvD15HhpJJBeKY.ttf) format('truetype');
}
