@font-face {
  font-family: 'Harmattan';
  font-style: normal;
  font-weight: 400;
  src: local('Harmattan'), local('Harmattan-Regular'), url(https://fonts.joway.io/s/harmattan/v5/goksH6L2DkFvVvRp9XpjTEqn.ttf) format('truetype');
}
