@font-face {
  font-family: 'Headland One';
  font-style: normal;
  font-weight: 400;
  src: local('Headland One'), local('HeadlandOne-Regular'), url(https://fonts.joway.io/s/headlandone/v6/yYLu0hHR2vKnp89Tk1TCq3TB1_NX.ttf) format('truetype');
}
