@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: local('Heebo'), local('Heebo-Regular'), url(https://fonts.joway.io/s/heebo/v3/NGS6v5_NC0k9P9H2TbQ.ttf) format('truetype');
}
