@font-face {
  font-family: 'Henny Penny';
  font-style: normal;
  font-weight: 400;
  src: local('Henny Penny'), local('HennyPenny-Regular'), url(https://fonts.joway.io/s/hennypenny/v6/wXKvE3UZookzsxz_kjGSfPQtvXc.ttf) format('truetype');
}
