@font-face {
  font-family: 'Herr Von Muellerhoff';
  font-style: normal;
  font-weight: 400;
  src: local('Herr Von Muellerhoff Regular'), local('HerrVonMuellerhoff-Regular'), url(https://fonts.joway.io/s/herrvonmuellerhoff/v8/WBL6rFjRZkREW8WqmCWYLgCkQKXb4CAft0c99KY.ttf) format('truetype');
}
