@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Guntur Regular'), local('HindGuntur-Regular'), url(https://fonts.joway.io/s/hindguntur/v3/wXKvE3UZrok56nvamSuJd_QtvXc.ttf) format('truetype');
}
