@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Siliguri Regular'), local('HindSiliguri-Regular'), url(https://fonts.joway.io/s/hindsiliguri/v4/ijwTs5juQtsyLLR5jN4cxBEoTJzawg.ttf) format('truetype');
}
