@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Vadodara Regular'), local('HindVadodara-Regular'), url(https://fonts.joway.io/s/hindvadodara/v4/neINzCKvrIcn5pbuuuriV9tTQJLVqQ.ttf) format('truetype');
}
