@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Madurai Regular'), local('HindMadurai-Regular'), url(https://fonts.joway.io/s/hindmadurai/v3/f0Xx0e2p98ZvDXdZQIOcpqjX9ocH.ttf) format('truetype');
}
