@font-face {
  font-family: 'Holtwood One SC';
  font-style: normal;
  font-weight: 400;
  src: local('Holtwood One SC'), local('HoltwoodOneSC'), url(https://fonts.joway.io/s/holtwoodonesc/v9/yYLx0hLR0P-3vMFSk1TCq3Txg5BHdrz-.ttf) format('truetype');
}
