@font-face {
  font-family: 'Homenaje';
  font-style: normal;
  font-weight: 400;
  src: local('Homenaje Regular'), local('Homenaje-Regular'), url(https://fonts.joway.io/s/homenaje/v8/FwZY7-Q-xVAi_l-6Le6H6Mw.ttf) format('truetype');
}
