@font-face {
  font-family: 'Homemade Apple';
  font-style: normal;
  font-weight: 400;
  src: local('Homemade Apple Regular'), local('HomemadeApple-Regular'), url(https://fonts.joway.io/s/homemadeapple/v8/Qw3EZQFXECDrI2q789EKQZJob0x6XH0.ttf) format('truetype');
}
