@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans Condensed'), local('IBMPlexSansCond'), url(https://fonts.joway.io/s/ibmplexsanscondensed/v5/Gg8lN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHYapyKs.ttf) format('truetype');
}
