@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.joway.io/s/ibmplexsans/v3/zYXgKVElMYYaJe8bpLHnCwDKhdHeEA.ttf) format('truetype');
}
