@font-face {
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  src: local('Iceberg'), local('Iceberg-Regular'), url(https://fonts.joway.io/s/iceberg/v6/8QIJdijAiM7o-qnZiI8Erw.ttf) format('truetype');
}
