@font-face {
  font-family: 'IM Fell French Canon SC';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL French Canon SC'), local('IM_FELL_French_Canon_SC'), url(https://fonts.joway.io/s/imfellfrenchcanonsc/v8/FBVmdCru5-ifcor2bgq9V89khWcmQghEURY7H0czWhQ.ttf) format('truetype');
}
