@font-face {
  font-family: 'IM Fell English SC';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL English SC'), local('IM_FELL_English_SC'), url(https://fonts.joway.io/s/imfellenglishsc/v8/a8IENpD3CDX-4zrWfr1VY879qFF05pZ7PIIK.ttf) format('truetype');
}
