@font-face {
  font-family: 'IM Fell DW Pica';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL DW Pica Roman'), local('IM_FELL_DW_Pica_Roman'), url(https://fonts.joway.io/s/imfelldwpica/v8/2sDGZGRQotv9nbn2qSl0TxXVYNwNYwnQ.ttf) format('truetype');
}
