@font-face {
  font-family: 'IM Fell French Canon';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL French Canon Roman'), local('IM_FELL_French_Canon_Roman'), url(https://fonts.joway.io/s/imfellfrenchcanon/v8/-F6ufiNtDWYfYc-tDiyiw08rrghJszkK6foSNNk.ttf) format('truetype');
}
