@font-face {
  font-family: 'IM Fell English';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL English Roman'), local('IM_FELL_English_Roman'), url(https://fonts.joway.io/s/imfellenglish/v8/Ktk1ALSLW8zDe0rthJysWrnLsAzHEKOd.ttf) format('truetype');
}
