@font-face {
  font-family: 'IM Fell Great Primer SC';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL Great Primer SC'), local('IM_FELL_Great_Primer_SC'), url(https://fonts.joway.io/s/imfellgreatprimersc/v8/ga6daxBOxyt6sCqz3fjZCTFCTUDMHagsQKdDTIf6D3g.ttf) format('truetype');
}
