/* latin */
@font-face {
  font-family: 'IM Fell Double Pica';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL Double Pica Roman '), local('IM_FELL_Double_Pica_Roman'), url(https://fonts.joway.io/s/imfelldoublepica/v8/3XF2EqMq_94s9PeKF7Fg4gOKINyMtZ8rf0O_UZxD2pw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
