@font-face {
  font-family: 'IM Fell Double Pica';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL Double Pica Roman '), local('IM_FELL_Double_Pica_Roman'), url(https://fonts.joway.io/s/imfelldoublepica/v8/3XF2EqMq_94s9PeKF7Fg4gOKINyMtZ8rf0O_VA.ttf) format('truetype');
}
