@font-face {
  font-family: 'IM Fell Great Primer';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL Great Primer Roman'), local('IM_FELL_Great_Primer_Roman'), url(https://fonts.joway.io/s/imfellgreatprimer/v8/bx6aNwSJtayYxOkbYFsT6hMsLzX7u85rJrrQtj4.ttf) format('truetype');
}
