@font-face {
  font-family: 'Imprima';
  font-style: normal;
  font-weight: 400;
  src: local('Imprima'), local('Imprima-Regular'), url(https://fonts.joway.io/s/imprima/v7/VEMxRoN7sY3yuy-7yoKNzA.ttf) format('truetype');
}
