@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  src: local('Inder'), local('Inder-Regular'), url(https://fonts.joway.io/s/inder/v7/w8gUH2YoQe8_4sq9rQs.ttf) format('truetype');
}
