@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 400;
  src: local('Inknut Antiqua Regular'), local('InknutAntiqua-Regular'), url(https://fonts.joway.io/s/inknutantiqua/v4/Y4GSYax7VC4ot_qNB4nYpBdaKUUE4Jg.ttf) format('truetype');
}
