@font-face {
  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  src: local('Irish Grover Regular'), local('IrishGrover-Regular'), url(https://fonts.joway.io/s/irishgrover/v9/buExpoi6YtLz2QW7LA4flVgv__RK.ttf) format('truetype');
}
