@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: local('Istok Web Regular'), local('IstokWeb-Regular'), url(https://fonts.joway.io/s/istokweb/v12/3qTvojGmgSyUukBzKslpBmt6.ttf) format('truetype');
}
