@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  src: local('Italiana'), local('Italiana-Regular'), url(https://fonts.joway.io/s/italiana/v7/QldNNTtLsx4E__B0XQmWaXk.ttf) format('truetype');
}
