@font-face {
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  src: local('Itim'), local('Itim-Regular'), url(https://fonts.joway.io/s/itim/v2/0nknC9ziJOYe8ANAlQ.ttf) format('truetype');
}
