@font-face {
  font-family: 'Jacques Francois Shadow';
  font-style: normal;
  font-weight: 400;
  src: local('Jacques Francois Shadow'), local('JacquesFrancoisShadow-Regular'), url(https://fonts.joway.io/s/jacquesfrancoisshadow/v7/KR1FBtOz8PKTMk-kqdkLVrvR0ECFrB6Pin-2_p8Sun8.ttf) format('truetype');
}
