@font-face {
  font-family: 'Jacques Francois';
  font-style: normal;
  font-weight: 400;
  src: local('Jacques Francois'), local('JacquesFrancois-Regular'), url(https://fonts.joway.io/s/jacquesfrancois/v6/ZXu9e04ZvKeOOHIe1TMahbcIU2cgqcTgpQ.ttf) format('truetype');
}
