@font-face {
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 400;
  src: local('Jaldi'), local('Jaldi-Regular'), url(https://fonts.joway.io/s/jaldi/v4/or3sQ67z0_CI33NTbJQ.ttf) format('truetype');
}
