@font-face {
  font-family: 'Jim Nightshade';
  font-style: normal;
  font-weight: 400;
  src: local('Jim Nightshade'), local('JimNightshade-Regular'), url(https://fonts.joway.io/s/jimnightshade/v6/PlIkFlu9Pb08Q8HLM1PxmB0g-NS_XX4.ttf) format('truetype');
}
