@font-face {
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  src: local('Jockey One'), local('JockeyOne-Regular'), url(https://fonts.joway.io/s/jockeyone/v8/HTxpL2g2KjCFj4x8WI6AnIHxGQ.ttf) format('truetype');
}
