@font-face {
  font-family: 'Jolly Lodger';
  font-style: normal;
  font-weight: 400;
  src: local('Jolly Lodger'), local('JollyLodger'), url(https://fonts.joway.io/s/jollylodger/v6/BXRsvFTAh_bGkA1uQ48dlB3lXuDX.ttf) format('truetype');
}
