@font-face {
  font-family: 'Jomhuria';
  font-style: normal;
  font-weight: 400;
  src: local('Jomhuria'), local('Jomhuria-Regular'), url(https://fonts.joway.io/s/jomhuria/v6/Dxxp8j-TMXf-llKur1byOuU.ttf) format('truetype');
}
