@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab Regular'), local('JosefinSlab-Regular'), url(https://fonts.joway.io/s/josefinslab/v8/lW-5wjwOK3Ps5GSJlNNkMalnqg6q.ttf) format('truetype');
}
