@font-face {
  font-family: 'Jua';
  font-style: normal;
  font-weight: 400;
  src: local('Jua Regular'), local('Jua-Regular'), url(https://fonts.joway.io/s/jua/v5/co3KmW9ljjATdOrd.ttf) format('truetype');
}
