@font-face {
  font-family: 'Judson';
  font-style: normal;
  font-weight: 400;
  src: local('Judson Regular'), local('Judson-Regular'), url(https://fonts.joway.io/s/judson/v11/FeVRS0Fbvbc14VxhCLlw.ttf) format('truetype');
}
