@font-face {
  font-family: 'Junge';
  font-style: normal;
  font-weight: 400;
  src: local('Junge'), local('Junge-Regular'), url(https://fonts.joway.io/s/junge/v6/gokgH670Gl1lUpAatBQ.ttf) format('truetype');
}
