@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: local('Jura Regular'), local('Jura-Regular'), url(https://fonts.joway.io/s/jura/v9/z7NbdRfiaC4VXcRJVA.ttf) format('truetype');
}
