@font-face {
  font-family: 'Just Me Again Down Here';
  font-style: normal;
  font-weight: 400;
  src: local('Just Me Again Down Here'), local('JustMeAgainDownHere'), url(https://fonts.joway.io/s/justmeagaindownhere/v10/MwQmbgXtz-Wc6RUEGNMc0QpRrfUh2hSdBBMoAtwAtKQ.ttf) format('truetype');
}
