@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 400;
  src: local('K2D Regular'), local('K2D-Regular'), url(https://fonts.joway.io/s/k2d/v2/J7aTnpF2V0EjcKUp.ttf) format('truetype');
}
