@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: local('Kalam'), local('Kalam-Regular'), url(https://fonts.joway.io/s/kalam/v8/YA9dr0Wd4kDdMthROCI.ttf) format('truetype');
}
