@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(https://fonts.joway.io/s/karla/v6/qkBbXvYC6trAT7RVLtk.ttf) format('truetype');
}
