@font-face {
  font-family: 'Katibeh';
  font-style: normal;
  font-weight: 400;
  src: local('Katibeh-Regular'), url(https://fonts.joway.io/s/katibeh/v6/ZGjXol5MQJog4bxDWCpbUA.ttf) format('truetype');
}
