@font-face {
  font-family: 'Kavivanar';
  font-style: normal;
  font-weight: 400;
  src: local('Kavivanar Regular'), local('Kavivanar-Regular'), url(https://fonts.joway.io/s/kavivanar/v4/o-0IIpQgyXYSwhxP7_Jr5TRF.ttf) format('truetype');
}
