@font-face {
  font-family: 'Kavoon';
  font-style: normal;
  font-weight: 400;
  src: local('Kavoon'), local('Kavoon-Regular'), url(https://fonts.joway.io/s/kavoon/v7/pxiFyp4_scRYhlUIM7D-.ttf) format('truetype');
}
