@font-face {
  font-family: 'Kdam Thmor';
  font-style: normal;
  font-weight: 400;
  src: local('Kdam Thmor'), local('KdamThmor'), url(https://fonts.joway.io/s/kdamthmor/v6/MwQzbhjs3veF6QwJVf0JkGM.ttf) format('truetype');
}
