@font-face {
  font-family: 'Keania One';
  font-style: normal;
  font-weight: 400;
  src: local('Keania One'), local('KeaniaOne-Regular'), url(https://fonts.joway.io/s/keaniaone/v6/zOL54pXJk65E8pXardnu-cNkuw.ttf) format('truetype');
}
