@font-face {
  font-family: 'Kelly Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Kelly Slab'), local('KellySlab-Regular'), url(https://fonts.joway.io/s/kellyslab/v9/-W_7XJX0Rz3cxUnJC5t6fkQLew.ttf) format('truetype');
}
