@font-face {
  font-family: 'Kenia';
  font-style: normal;
  font-weight: 400;
  src: local('Kenia'), local('Kenia-Regular'), url(https://fonts.joway.io/s/kenia/v10/jizURE5PuHQH9pCJP0U.ttf) format('truetype');
}
