@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 400;
  src: local('Khand Regular'), local('Khand-Regular'), url(https://fonts.joway.io/s/khand/v6/TwMA-IINQlQQ0bpSUnE.ttf) format('truetype');
}
