@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: local('Khula Regular'), local('Khula-Regular'), url(https://fonts.joway.io/s/khula/v3/OpNCnoEOns3V7GcOrgs.ttf) format('truetype');
}
