@font-face {
  font-family: 'Kirang Haerang';
  font-style: normal;
  font-weight: 400;
  src: local('Kirang Haerang Regular'), local('KirangHaerang-Regular'), url(https://fonts.joway.io/s/kiranghaerang/v5/E21-_dn_gvvIjhYON1lpIU4-bfqoUvI.ttf) format('truetype');
}
