@font-face {
  font-family: 'Kite One';
  font-style: normal;
  font-weight: 400;
  src: local('Kite One'), local('KiteOne-Regular'), url(https://fonts.joway.io/s/kiteone/v6/70lQu7shLnA_E02vyp1c4n0.ttf) format('truetype');
}
