@font-face {
  font-family: 'Knewave';
  font-style: normal;
  font-weight: 400;
  src: local('Knewave'), local('Knewave-Regular'), url(https://fonts.joway.io/s/knewave/v7/sykz-yx0lLcxQaSIhS23_g.ttf) format('truetype');
}
