@font-face {
  font-family: 'Kodchasan';
  font-style: normal;
  font-weight: 400;
  src: local('Kodchasan Regular'), local('Kodchasan-Regular'), url(https://fonts.joway.io/s/kodchasan/v2/1cXxaUPOAJv9sG4I-DJWiHGA.ttf) format('truetype');
}
