@font-face {
  font-family: 'KoHo';
  font-style: normal;
  font-weight: 400;
  src: local('KoHo Regular'), local('KoHo-Regular'), url(https://fonts.joway.io/s/koho/v2/K2F-fZ5fmddNNi4UeA.ttf) format('truetype');
}
