@font-face {
  font-family: 'Kosugi Maru';
  font-style: normal;
  font-weight: 400;
  src: local('Kosugi Maru'), local('KosugiMaru-Regular'), url(https://fonts.joway.io/s/kosugimaru/v3/0nksC9PgP_wGh21A2KeqGhTtgP4.ttf) format('truetype');
}
