@font-face {
  font-family: 'Kotta One';
  font-style: normal;
  font-weight: 400;
  src: local('Kotta One'), local('KottaOne-Regular'), url(https://fonts.joway.io/s/kottaone/v6/S6u_w41LXzPc_jlfNWq_Gwfo.ttf) format('truetype');
}
