@font-face {
  font-family: 'Kranky';
  font-style: normal;
  font-weight: 400;
  src: local('Kranky Regular'), local('Kranky-Regular'), url(https://fonts.joway.io/s/kranky/v9/hESw6XVgJzlPsFn8oR2A.ttf) format('truetype');
}
