@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  src: local('Kreon Regular'), local('Kreon-Regular'), url(https://fonts.joway.io/s/kreon/v12/t5tuIRIUKY-TFHXHc20.ttf) format('truetype');
}
