@font-face {
  font-family: 'Kristi';
  font-style: normal;
  font-weight: 400;
  src: local('Kristi Regular'), local('Kristi-Regular'), url(https://fonts.joway.io/s/kristi/v10/uK_y4ricdeU6zwdhDRcX.ttf) format('truetype');
}
