@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 400;
  src: local('Krub Regular'), local('Krub-Regular'), url(https://fonts.joway.io/s/krub/v2/sZlLdRyC6CRYbkEaCA.ttf) format('truetype');
}
