@font-face {
  font-family: 'Kumar One';
  font-style: normal;
  font-weight: 400;
  src: local('Kumar One'), local('KumarOne-Regular'), url(https://fonts.joway.io/s/kumarone/v3/bMr1mS-P958wYi6YaGe2M-SS.ttf) format('truetype');
}
