@font-face {
  font-family: 'Kumar One Outline';
  font-style: normal;
  font-weight: 400;
  src: local('Kumar One Outline'), local('KumarOneOutline-Regular'), url(https://fonts.joway.io/s/kumaroneoutline/v4/Noao6VH62pyLP0fsrZ-v18wlUEcX9wD3Tw8.ttf) format('truetype');
}
