@font-face {
  font-family: 'Kurale';
  font-style: normal;
  font-weight: 400;
  src: local('Kurale Regular'), local('Kurale-Regular'), url(https://fonts.joway.io/s/kurale/v4/4iCs6KV9e9dXjhoKfw7z.ttf) format('truetype');
}
