@font-face {
  font-family: 'La Belle Aurore';
  font-style: normal;
  font-weight: 400;
  src: local('La Belle Aurore'), local('LaBelleAurore'), url(https://fonts.joway.io/s/labelleaurore/v9/RrQIbot8-mNYKnGNDkWlocovHeI4HO2B.ttf) format('truetype');
}
