@font-face {
  font-family: 'Laila';
  font-style: normal;
  font-weight: 400;
  src: local('Laila Regular'), local('Laila-Regular'), url(https://fonts.joway.io/s/laila/v5/LYjMdG_8nE8jDLRagCM.ttf) format('truetype');
}
