@font-face {
  font-family: 'Lalezar';
  font-style: normal;
  font-weight: 400;
  src: local('Lalezar'), local('Lalezar-Regular'), url(https://fonts.joway.io/s/lalezar/v4/zrfl0HLVx-HwTP82Yaf4Jg.ttf) format('truetype');
}
