@font-face {
  font-family: 'Lancelot';
  font-style: normal;
  font-weight: 400;
  src: local('Lancelot'), url(https://fonts.joway.io/s/lancelot/v8/J7acnppxBGtQEulG4KY_zps.ttf) format('truetype');
}
