@font-face {
  font-family: 'League Script';
  font-style: normal;
  font-weight: 400;
  src: local('League Script'), local('LeagueScript'), url(https://fonts.joway.io/s/leaguescript/v9/CSR54zpSlumSWj9CGVsoBZdeWNRevA.ttf) format('truetype');
}
