@font-face {
  font-family: 'Ledger';
  font-style: normal;
  font-weight: 400;
  src: local('Ledger'), local('Ledger-Regular'), url(https://fonts.joway.io/s/ledger/v6/j8_q6-HK1L3if_sBnMr0.ttf) format('truetype');
}
