@font-face {
  font-family: 'Lemon';
  font-style: normal;
  font-weight: 400;
  src: local('Lemon Regular'), local('Lemon-Regular'), url(https://fonts.joway.io/s/lemon/v7/HI_EiYEVKqRMq3jGQ5E.ttf) format('truetype');
}
