@font-face {
  font-family: 'Lemonada';
  font-style: normal;
  font-weight: 400;
  src: local('Lemonada'), local('Lemonada-Regular'), url(https://fonts.joway.io/s/lemonada/v6/0QIjMXFD9oygTWy_R8tJv_E.ttf) format('truetype');
}
