@font-face {
  font-family: 'Libre Barcode 128';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Barcode 128 Regular'), local('LibreBarcode128-Regular'), url(https://fonts.joway.io/s/librebarcode128/v8/cIfnMbdUsUoiW3O_hVviCwVjuLtXeK_H9Ac.ttf) format('truetype');
}
