@font-face {
  font-family: 'Libre Barcode 39 Extended Text';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Barcode 39 Extended Text'), local('LibreBarcode39ExtendedText-Regular'), url(https://fonts.joway.io/s/librebarcode39extendedtext/v7/eLG1P_rwIgOiDA7yrs9LoKaYRVLQ1YldrrOnnL7xPO4jNP6Me7gm.ttf) format('truetype');
}
