@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Franklin'), local('LibreFranklin-Regular'), url(https://fonts.joway.io/s/librefranklin/v2/jizDREVItHgc8qDIbSTKq4XkRiUf2zI.ttf) format('truetype');
}
