@font-face {
  font-family: 'Libre Barcode 39 Extended';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Barcode 39 Extended'), local('LibreBarcode39Extended-Regular'), url(https://fonts.joway.io/s/librebarcode39extended/v7/8At7Gt6_O5yNS0-K4Nf5U922qSzhJ3dUdfJpwNUgTNNIPQ.ttf) format('truetype');
}
