@font-face {
  font-family: 'Libre Barcode 39';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Barcode 39 Regular'), local('LibreBarcode39-Regular'), url(https://fonts.joway.io/s/librebarcode39/v8/-nFnOHM08vwC6h8Li1eQnP_AHzI2G_Bx1w.ttf) format('truetype');
}
