@font-face {
  font-family: 'Life Savers';
  font-style: normal;
  font-weight: 400;
  src: local('Life Savers'), local('LifeSavers-Regular'), url(https://fonts.joway.io/s/lifesavers/v8/ZXuie1UftKKabUQMgxAal8lsHA4.ttf) format('truetype');
}
