@font-face {
  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  src: local('Lilita One'), local('LilitaOne'), url(https://fonts.joway.io/s/lilitaone/v5/i7dPIFZ9Zz-WBtRtedDbYEF8QA.ttf) format('truetype');
}
