@font-face {
  font-family: 'Lily Script One';
  font-style: normal;
  font-weight: 400;
  src: local('Lily Script One'), local('LilyScriptOne-Regular'), url(https://fonts.joway.io/s/lilyscriptone/v6/LhW9MV7ZMfIPdMxeBjBvFN8SXLSIhc6n.ttf) format('truetype');
}
