@font-face {
  font-family: 'Limelight';
  font-style: normal;
  font-weight: 400;
  src: local('Limelight'), url(https://fonts.joway.io/s/limelight/v9/XLYkIZL7aopJVbZJHDuoOulC.ttf) format('truetype');
}
