@font-face {
  font-family: 'Linden Hill';
  font-style: normal;
  font-weight: 400;
  src: local('Linden Hill Regular'), local('LindenHill-Regular'), url(https://fonts.joway.io/s/lindenhill/v8/-F61fjxoKSg9Yc3hZgO8yjFP5ig.ttf) format('truetype');
}
