@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Two'), local('LobsterTwo'), url(https://fonts.joway.io/s/lobstertwo/v10/BngMUXZGTXPUvIoyV6yN5-fN5qA.ttf) format('truetype');
}
