@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.joway.io/s/lobster/v20/neILzCirqoswsqX9zoKmNg.ttf) format('truetype');
}
