@font-face {
  font-family: 'Londrina Sketch';
  font-style: normal;
  font-weight: 400;
  src: local('Londrina Sketch Regular'), local('LondrinaSketch-Regular'), url(https://fonts.joway.io/s/londrinasketch/v7/c4m41npxGMTnomOHtRU68eIJn8qvXmP9.ttf) format('truetype');
}
