@font-face {
  font-family: 'Londrina Shadow';
  font-style: normal;
  font-weight: 400;
  src: local('Londrina Shadow Regular'), local('LondrinaShadow-Regular'), url(https://fonts.joway.io/s/londrinashadow/v8/oPWX_kB4kOQoWNJmjxLV5JuoCUlnQVyW.ttf) format('truetype');
}
