@font-face {
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 400;
  src: local('Londrina Solid Regular'), local('LondrinaSolid-Regular'), url(https://fonts.joway.io/s/londrinasolid/v8/flUhRq6sw40kQEJxWNgkLuudGfNeKBY.ttf) format('truetype');
}
