@font-face {
  font-family: 'Londrina Outline';
  font-style: normal;
  font-weight: 400;
  src: local('Londrina Outline Regular'), local('LondrinaOutline-Regular'), url(https://fonts.joway.io/s/londrinaoutline/v9/C8c44dM8vmb14dfsZxhetg3pDH-STu07qQ.ttf) format('truetype');
}
