@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.joway.io/s/lora/v12/0QIvMX1D_JOuMwr7Jg.ttf) format('truetype');
}
