@font-face {
  font-family: 'Love Ya Like A Sister';
  font-style: normal;
  font-weight: 400;
  src: local('Love Ya Like A Sister Regular'), local('LoveYaLikeASister-Regular'), url(https://fonts.joway.io/s/loveyalikeasister/v9/R70EjzUBlOqPeouhFDfR80-0FhOqJubN-BeL9XxY.ttf) format('truetype');
}
