@font-face {
  font-family: 'Loved by the King';
  font-style: normal;
  font-weight: 400;
  src: local('Loved by the King'), local('LovedbytheKing'), url(https://fonts.joway.io/s/lovedbytheking/v8/Gw6gwdP76VDVJNXerebZxUMeRXUF2MiKn3U.ttf) format('truetype');
}
