@font-face {
  font-family: 'Lovers Quarrel';
  font-style: normal;
  font-weight: 400;
  src: local('Lovers Quarrel'), local('LoversQuarrel-Regular'), url(https://fonts.joway.io/s/loversquarrel/v6/Yq6N-LSKXTL-5bCy8ksBzpQ_-wArab4.ttf) format('truetype');
}
