@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-weight: 400;
  src: local('Lusitana'), url(https://fonts.joway.io/s/lusitana/v5/CSR84z9ShvucWzsMKyhdTOc.ttf) format('truetype');
}
