@font-face {
  font-family: 'Lustria';
  font-style: normal;
  font-weight: 400;
  src: local('Lustria'), local('Lustria-Regular'), url(https://fonts.joway.io/s/lustria/v5/9oRONYodvDEyjuhOnC8zNg.ttf) format('truetype');
}
