@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 400;
  src: local('M PLUS 1p'), local('MPLUS1p-Regular'), url(https://fonts.joway.io/s/mplus1p/v15/e3tjeuShHdiFyPFzBRrY_zQA.ttf) format('truetype');
}
