@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 400;
  src: local('M PLUS Rounded 1c'), local('MPLUSRounded1c-Regular'), url(https://fonts.joway.io/s/mplusrounded1c/v7/VdGEAYIAV6gnpUpoWwNkYvrugw9RuMWBxLs.ttf) format('truetype');
}
