@font-face {
  font-family: 'Macondo';
  font-style: normal;
  font-weight: 400;
  src: local('Macondo'), local('Macondo-Regular'), url(https://fonts.joway.io/s/macondo/v7/RrQQboN9-iB1IXmOe2LE1A.ttf) format('truetype');
}
