@font-face {
  font-family: 'Macondo Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Macondo Swash Caps'), local('MacondoSwashCaps-Regular'), url(https://fonts.joway.io/s/macondoswashcaps/v6/6NUL8EaAJgGKZA7lpt941Z9s6ZYgDq6-fUAe.ttf) format('truetype');
}
