@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 400;
  src: local('Mada Regular'), local('Mada-Regular'), url(https://fonts.joway.io/s/mada/v7/7Auwp_0qnzeSfTLGKA.ttf) format('truetype');
}
