@font-face {
  font-family: 'Maiden Orange';
  font-style: normal;
  font-weight: 400;
  src: local('Maiden Orange Regular'), local('MaidenOrange-Regular'), url(https://fonts.joway.io/s/maidenorange/v9/kJE1BuIX7AUmhi2V4m08kb1XvOFXDQ.ttf) format('truetype');
}
