@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  src: local('Major Mono Display Regular'), local('MajorMonoDisplay-Regular'), url(https://fonts.joway.io/s/majormonodisplay/v2/RWmVoLyb5fEqtsfBX9PDZIGr2tFubRh7DXeU.ttf) format('truetype');
}
