@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-weight: 400;
  src: local('Mali Regular'), local('Mali-Regular'), url(https://fonts.joway.io/s/mali/v2/N0ba2SRONuN4SC3ECg.ttf) format('truetype');
}
