@font-face {
  font-family: 'Mallanna';
  font-style: normal;
  font-weight: 400;
  src: local('Mallanna'), url(https://fonts.joway.io/s/mallanna/v6/hv-Vlzx-KEQb84YaDFw0GTA.ttf) format('truetype');
}
