@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-weight: 400;
  src: local('Manuale Regular'), local('Manuale-Regular'), url(https://fonts.joway.io/s/manuale/v3/f0X20eas_8Z-TFZdNPHOxw.ttf) format('truetype');
}
