@font-face {
  font-family: 'Marcellus SC';
  font-style: normal;
  font-weight: 400;
  src: local('Marcellus SC'), local('MarcellusSC-Regular'), url(https://fonts.joway.io/s/marcellussc/v6/ke8iOgUHP1dg-Rmi6RWjbLE_htaZ.ttf) format('truetype');
}
