@font-face {
  font-family: 'Marcellus';
  font-style: normal;
  font-weight: 400;
  src: local('Marcellus'), local('Marcellus-Regular'), url(https://fonts.joway.io/s/marcellus/v5/wEO_EBrOk8hQLDvIAF81VvoP.ttf) format('truetype');
}
