@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: local('Marck Script'), local('MarckScript-Regular'), url(https://fonts.joway.io/s/marckscript/v8/nwpTtK2oNgBA3Or78gapdwuyyCg6.ttf) format('truetype');
}
