@font-face {
  font-family: 'Margarine';
  font-style: normal;
  font-weight: 400;
  src: local('Margarine'), local('Margarine-Regular'), url(https://fonts.joway.io/s/margarine/v7/qkBXXvoE6trLT9Y7YLyu455P.ttf) format('truetype');
}
