@font-face {
  font-family: 'Marko One';
  font-style: normal;
  font-weight: 400;
  src: local('Marko One'), local('MarkoOne-Regular'), url(https://fonts.joway.io/s/markoone/v8/9Btq3DFG0cnVM5lw1haqLZ8b.ttf) format('truetype');
}
