@font-face {
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  src: local('Marmelad'), local('Marmelad-Regular'), url(https://fonts.joway.io/s/marmelad/v8/Qw3eZQdSHj_jK2e-8uFMEeI.ttf) format('truetype');
}
