@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Martel Sans Regular'), local('MartelSans-Regular'), url(https://fonts.joway.io/s/martelsans/v5/h0GsssGi7VdzDgKjM-4d8hjYx-s.ttf) format('truetype');
}
