@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  src: local('Martel'), local('Martel-Regular'), url(https://fonts.joway.io/s/martel/v2/PN_xRfK9oXHga0XdZsg6.ttf) format('truetype');
}
