@font-face {
  font-family: 'Marvel';
  font-style: normal;
  font-weight: 400;
  src: local('Marvel'), local('Marvel-Regular'), url(https://fonts.joway.io/s/marvel/v8/nwpVtKeoNgBV0qa4llTA.ttf) format('truetype');
}
