@font-face {
  font-family: 'Mate SC';
  font-style: normal;
  font-weight: 400;
  src: local('Mate SC Regular'), local('MateSC-Regular'), url(https://fonts.joway.io/s/matesc/v7/-nF8OGQ1-uoVr2wK-iLT8w.ttf) format('truetype');
}
