@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Maven Pro Regular'), local('MavenPro-Regular'), url(https://fonts.joway.io/s/mavenpro/v11/7Au9p_AqnyWWAxW2Wk3GzWQN.ttf) format('truetype');
}
