@font-face {
  font-family: 'McLaren';
  font-style: normal;
  font-weight: 400;
  src: local('McLaren'), local('McLaren-Regular'), url(https://fonts.joway.io/s/mclaren/v6/2EbnL-ZuAXFqZFXIeYEV9w.ttf) format('truetype');
}
