@font-face {
  font-family: 'MedievalSharp';
  font-style: normal;
  font-weight: 400;
  src: local('MedievalSharp'), url(https://fonts.joway.io/s/medievalsharp/v11/EvOJzAlL3oU5AQl2mP5KdgptMqhwNw.ttf) format('truetype');
}
