@font-face {
  font-family: 'Medula One';
  font-style: normal;
  font-weight: 400;
  src: local('Medula One'), local('MedulaOne-Regular'), url(https://fonts.joway.io/s/medulaone/v8/YA9Wr0qb5kjJM6l2V0yuoiYgtw.ttf) format('truetype');
}
