@font-face {
  font-family: 'Meera Inimai';
  font-style: normal;
  font-weight: 400;
  src: local('Meera Inimai'), local('MeeraInimai-Regular'), url(https://fonts.joway.io/s/meerainimai/v3/845fNMM5EIqOW5MPuvO3ILeZ-GLH.ttf) format('truetype');
}
