@font-face {
  font-family: 'Meie Script';
  font-style: normal;
  font-weight: 400;
  src: local('Meie Script'), local('MeieScript-Regular'), url(https://fonts.joway.io/s/meiescript/v6/_LOImzDK7erRjhunIspaMgxg7oE.ttf) format('truetype');
}
