@font-face {
  font-family: 'Merienda One';
  font-style: normal;
  font-weight: 400;
  src: local('Merienda One'), local('MeriendaOne-Regular'), url(https://fonts.joway.io/s/meriendaone/v9/H4cgBXaMndbflEq6kyZ1ht6ohYa2.ttf) format('truetype');
}
