@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: local('Merienda'), local('Merienda-Regular_0_wt'), url(https://fonts.joway.io/s/merienda/v6/gNMHW3x8Qoy5_mf8uWMFMI8.ttf) format('truetype');
}
