@font-face {
  font-family: 'Metal Mania';
  font-style: normal;
  font-weight: 400;
  src: local('Metal Mania'), local('MetalMania-Regular'), url(https://fonts.joway.io/s/metalmania/v8/RWmMoKWb4e8kqMfBUdPFJdXFiaE.ttf) format('truetype');
}
