@font-face {
  font-family: 'Metamorphous';
  font-style: normal;
  font-weight: 400;
  src: local('Metamorphous'), url(https://fonts.joway.io/s/metamorphous/v9/Wnz8HA03aAXcC39ZEX5y133EOyqp.ttf) format('truetype');
}
