@font-face {
  font-family: 'Metrophobic';
  font-style: normal;
  font-weight: 400;
  src: local('Metrophobic Regular'), local('Metrophobic-Regular'), url(https://fonts.joway.io/s/metrophobic/v11/sJoA3LZUhMSAPV_u0qwiAQ-O5Xo.ttf) format('truetype');
}
