@font-face {
  font-family: 'Milonga';
  font-style: normal;
  font-weight: 400;
  src: local('Milonga'), local('Milonga-Regular'), url(https://fonts.joway.io/s/milonga/v6/SZc53FHnIaK9W5kfTzrMlQ.ttf) format('truetype');
}
