@font-face {
  font-family: 'Miltonian Tattoo';
  font-style: normal;
  font-weight: 400;
  src: local('Miltonian Tattoo'), local('MiltonianTattoo-Regular'), url(https://fonts.joway.io/s/miltoniantattoo/v14/EvOUzBRL0o0kCxF-lcMCQxlpVsA_JwT2NA.ttf) format('truetype');
}
