@font-face {
  font-family: 'Miltonian';
  font-style: normal;
  font-weight: 400;
  src: local('Miltonian'), local('Miltonian-Regular'), url(https://fonts.joway.io/s/miltonian/v12/zOL-4pbPn6Ne9JqTg9mb7uRE.ttf) format('truetype');
}
