@font-face {
  font-family: 'Mina';
  font-style: normal;
  font-weight: 400;
  src: local('Mina'), local('Mina-Regular'), url(https://fonts.joway.io/s/mina/v2/-nFzOGc18vARnzhp6g.ttf) format('truetype');
}
