@font-face {
  font-family: 'Miriam Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Miriam Libre Regular'), local('MiriamLibre-Regular'), url(https://fonts.joway.io/s/miriamlibre/v5/DdTh798HsHwubBAqfkcBTL_fZ5P7.ttf) format('truetype');
}
