@font-face {
  font-family: 'Mirza';
  font-style: normal;
  font-weight: 400;
  src: local('Mirza Regular'), local('Mirza-Regular'), url(https://fonts.joway.io/s/mirza/v6/co3ImWlikiN5EtraIsM.ttf) format('truetype');
}
