@font-face {
  font-family: 'Miss Fajardose';
  font-style: normal;
  font-weight: 400;
  src: local('Miss Fajardose Regular'), local('MissFajardose-Regular'), url(https://fonts.joway.io/s/missfajardose/v8/E21-_dn5gvrawDdPFVl-N0Ajb_qoUvI.ttf) format('truetype');
}
