@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 400;
  src: local('Mitr Regular'), local('Mitr-Regular'), url(https://fonts.joway.io/s/mitr/v3/pxiLypw5ucZF-Tw4NA.ttf) format('truetype');
}
