@font-face {
  font-family: 'Modern Antiqua';
  font-style: normal;
  font-weight: 400;
  src: local('Modern Antiqua Regular'), local('ModernAntiqua-Regular'), url(https://fonts.joway.io/s/modernantiqua/v8/NGStv5TIAUg6Iq_RLNo_2dp1sL1DYW8.ttf) format('truetype');
}
