@font-face {
  font-family: 'Mogra';
  font-style: normal;
  font-weight: 400;
  src: local('Mogra Regular'), local('Mogra-Regular'), url(https://fonts.joway.io/s/mogra/v5/f0X40eSs8c95TCo_BPY.ttf) format('truetype');
}
