@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 400;
  src: local('Monda Regular'), local('Monda-Regular'), url(https://fonts.joway.io/s/monda/v7/TK3tWkYFABsmjsphPh8.ttf) format('truetype');
}
