@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(https://fonts.joway.io/s/monoton/v7/5h1aiZUrOngCibe4TkHLRw.ttf) format('truetype');
}
