@font-face {
  font-family: 'Monofett';
  font-style: normal;
  font-weight: 400;
  src: local('Monofett'), url(https://fonts.joway.io/s/monofett/v8/mFTyWbofw6zc9NtnW73Vsxg.ttf) format('truetype');
}
