@font-face {
  font-family: 'Montez';
  font-style: normal;
  font-weight: 400;
  src: local('Montez Regular'), local('Montez-Regular'), url(https://fonts.joway.io/s/montez/v9/845ZNMk5GoGIX8lW07ra.ttf) format('truetype');
}
