@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Alternates Regular'), local('MontserratAlternates-Regular'), url(https://fonts.joway.io/s/montserratalternates/v9/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU0566fV.ttf) format('truetype');
}
