@font-face {
  font-family: 'Montserrat Subrayada';
  font-style: normal;
  font-weight: 400;
  src: local('MontserratSubrayada-Regular'), url(https://fonts.joway.io/s/montserratsubrayada/v8/U9MD6c-o9H7PgjlTHThBnNHGVUORwteQQH8MaOM.ttf) format('truetype');
}
