@font-face {
  font-family: 'Moulpali';
  font-style: normal;
  font-weight: 400;
  src: local('Moul Pali'), local('MoulPali'), url(https://fonts.joway.io/s/moulpali/v11/H4ckBXKMl9HagUWymyY6.ttf) format('truetype');
}
