/* khmer */
@font-face {
  font-family: 'Moul';
  font-style: normal;
  font-weight: 400;
  src: local('Moul'), url(https://fonts.joway.io/s/moul/v10/nuF2D__FSo_3I-hSibKx60y3Bw.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
