@font-face {
  font-family: 'Mountains of Christmas';
  font-style: normal;
  font-weight: 400;
  src: local('Mountains of Christmas Regular'), local('MountainsofChristmas-Regular'), url(https://fonts.joway.io/s/mountainsofchristmas/v11/3y9w6a4zcCnn5X0FDyrKi2ZRUBIy8uxoUo7eDNGsNA.ttf) format('truetype');
}
