@font-face {
  font-family: 'Mouse Memoirs';
  font-style: normal;
  font-weight: 400;
  src: local('Mouse Memoirs'), local('MouseMemoirs-Regular'), url(https://fonts.joway.io/s/mousememoirs/v6/t5tmIRoSNJ-PH0WNNgDYxdSb3T7Pqg.ttf) format('truetype');
}
