@font-face {
  font-family: 'Mr De Haviland';
  font-style: normal;
  font-weight: 400;
  src: local('Mr De Haviland Regular'), local('MrDeHaviland-Regular'), url(https://fonts.joway.io/s/mrdehaviland/v7/OpNVnooIhJj96FdB73296ksbOg3F60Y.ttf) format('truetype');
}
