@font-face {
  font-family: 'Mr Dafoe';
  font-style: normal;
  font-weight: 400;
  src: local('Mr Dafoe Regular'), local('MrDafoe-Regular'), url(https://fonts.joway.io/s/mrdafoe/v6/lJwE-pIzkS5NXuMMrFitibc.ttf) format('truetype');
}
