@font-face {
  font-family: 'Mrs Sheppards';
  font-style: normal;
  font-weight: 400;
  src: local('Mrs Sheppards Regular'), local('MrsSheppards-Regular'), url(https://fonts.joway.io/s/mrssheppards/v7/PN_2Rfm9snC0XUGoEZhb91ig7v_7zg.ttf) format('truetype');
}
