@font-face {
  font-family: 'Mrs Saint Delafield';
  font-style: normal;
  font-weight: 400;
  src: local('Mrs Saint Delafield'), local('MrsSaintDelafield-Regular'), url(https://fonts.joway.io/s/mrssaintdelafield/v6/v6-IGZDIOVXH9xtmTZfRagunqBw5WC62QKknKg.ttf) format('truetype');
}
