@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  src: local('Mukta Regular'), local('Mukta-Regular'), url(https://fonts.joway.io/s/mukta/v5/iJWKBXyXfDDVXbnBrXk.ttf) format('truetype');
}
