@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-weight: 400;
  src: local('Mukta Mahee Regular'), local('MuktaMahee-Regular'), url(https://fonts.joway.io/s/muktamahee/v4/XRXQ3IOIi0hcP8iVU67hA9vKUTo.ttf) format('truetype');
}
