@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-weight: 400;
  src: local('Mukta Vaani Regular'), local('MuktaVaani-Regular'), url(https://fonts.joway.io/s/muktavaani/v6/3Jn5SD_-ynaxmxnEfVHPIG0CduA.ttf) format('truetype');
}
