@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.joway.io/s/muli/v12/7Auwp_0qiz-afTLGKA.ttf) format('truetype');
}
