@font-face {
  font-family: 'Mystery Quest';
  font-style: normal;
  font-weight: 400;
  src: local('Mystery Quest'), local('MysteryQuest'), url(https://fonts.joway.io/s/mysteryquest/v6/-nF6OG414u0E6k0wynSGlujRLwYvCw.ttf) format('truetype');
}
