@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 400;
  src: local('NanumGothicCoding'), url(https://fonts.joway.io/s/nanumgothiccoding/v10/8QIVdjzHisX_8vv59_xMxtPFW4IXROws-6M7Ug.ttf) format('truetype');
}
