@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: local('NanumMyeongjo'), url(https://fonts.joway.io/s/nanummyeongjo/v11/9Btx3DZF0dXLMZlywRbVRNhxy2LscnA.ttf) format('truetype');
}
