@font-face {
  font-family: 'Nanum Pen Script';
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Pen'), local('NanumPen'), url(https://fonts.joway.io/s/nanumpenscript/v11/daaDSSYiLGqEal3MvdA_FOL_3FkN6zn0bA.ttf) format('truetype');
}
