@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 400;
  src: local('Neuton Regular'), local('Neuton-Regular'), url(https://fonts.joway.io/s/neuton/v10/UMBTrPtMoH62xUZCz4g_.ttf) format('truetype');
}
