@font-face {
  font-family: 'New Rocker';
  font-style: normal;
  font-weight: 400;
  src: local('New Rocker'), local('NewRocker-Regular'), url(https://fonts.joway.io/s/newrocker/v7/MwQzbhjp3-HImzcCU_cJoGQfjQ.ttf) format('truetype');
}
