@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: local('News Cycle'), local('NewsCycle'), url(https://fonts.joway.io/s/newscycle/v14/CSR64z1Qlv-GDxkbKVQ_fOAKSA.ttf) format('truetype');
}
