@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  src: local('Niconne'), local('Niconne-Regular'), url(https://fonts.joway.io/s/niconne/v7/w8gaH2QvRug1_rTfnQyn3A.ttf) format('truetype');
}
