@font-face {
  font-family: 'Niramit';
  font-style: normal;
  font-weight: 400;
  src: local('Niramit Regular'), local('Niramit-Regular'), url(https://fonts.joway.io/s/niramit/v3/I_uuMpWdvgLdNxVLXbNalg.ttf) format('truetype');
}
