@font-face {
  font-family: 'Nixie One';
  font-style: normal;
  font-weight: 400;
  src: local('Nixie One'), local('NixieOne-Regular'), url(https://fonts.joway.io/s/nixieone/v9/lW-8wjkKLXjg5y2o2uUYV-t3.ttf) format('truetype');
}
