@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  src: local('Nobile'), local('Nobile-Regular'), url(https://fonts.joway.io/s/nobile/v9/m8JTjflSeaOVl1iGWa3T.ttf) format('truetype');
}
