@font-face {
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 400;
  src: local('Nokora Regular'), local('Nokora-Regular'), url(https://fonts.joway.io/s/nokora/v12/hYkIPuwgTubzaWxQOw.ttf) format('truetype');
}
