@font-face {
  font-family: 'Norican';
  font-style: normal;
  font-weight: 400;
  src: local('Norican Regular'), local('Norican-Regular'), url(https://fonts.joway.io/s/norican/v7/MwQ2bhXp1eSBqjkPKJVbsA.ttf) format('truetype');
}
