@font-face {
  font-family: 'Nosifer';
  font-style: normal;
  font-weight: 400;
  src: local('Nosifer'), local('Nosifer-Regular'), url(https://fonts.joway.io/s/nosifer/v7/ZGjXol5JTp0g5bxZWCpbUA.ttf) format('truetype');
}
