@font-face {
  font-family: 'Notable';
  font-style: normal;
  font-weight: 400;
  src: local('Notable Regular'), local('Notable-Regular'), url(https://fonts.joway.io/s/notable/v3/gNMEW3N_SIqx-WX9yHQiEA.ttf) format('truetype');
}
