@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 400;
  src: local('Noticia Text'), local('NoticiaText-Regular'), url(https://fonts.joway.io/s/noticiatext/v7/VuJ2dNDF2Yv9qppOePKYRP12Zjtd.ttf) format('truetype');
}
