@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif SC'), local('NotoSerifSC-Regular'), url(https://fonts.joway.io/s/notoserifsc/v2/H4chBXePl9DZ0Xe7gG9cyOj7kqGWbQ.otf) format('opentype');
}
