@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif JP'), local('NotoSerifJP-Regular'), url(https://fonts.joway.io/s/notoserifjp/v4/xn7mYHs72GKoTvER4Gn3b5eMbNmuYA.otf) format('opentype');
}
