@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url(https://fonts.joway.io/s/notosanskr/v8/PbykFmXiEBPT4ITbgNA5CgmG0X7u.otf) format('opentype');
}
