@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans SC Regular'), local('NotoSansSC-Regular'), url(https://fonts.joway.io/s/notosanssc/v4/k3kXo84MPvpLmixcA63oeALRLoKL.otf) format('opentype');
}
