@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif KR'), local('NotoSerifKR-Regular'), url(https://fonts.joway.io/s/notoserifkr/v3/3Jn7SDn90Gmq2mr3blnHaTZXRudj1g.otf) format('opentype');
}
