@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans TC Regular'), local('NotoSansTC-Regular'), url(https://fonts.joway.io/s/notosanstc/v4/-nF7OG829Oofr2wohFbTp9i1OCEJ.otf) format('opentype');
}
