@font-face {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif TC'), local('NotoSerifTC-Regular'), url(https://fonts.joway.io/s/notoseriftc/v2/XLYgIZb5bJNDGYxLBibeHZ0BtnAOSw.otf) format('opentype');
}
