@font-face {
  font-family: 'Nova Script';
  font-style: normal;
  font-weight: 400;
  src: local('Nova Script Regular'), local('NovaScript-Regular'), url(https://fonts.joway.io/s/novascript/v11/7Au7p_IpkSWSTWaFWkumvlQKGFk.ttf) format('truetype');
}
