@font-face {
  font-family: 'Nova Flat';
  font-style: normal;
  font-weight: 400;
  src: local('Nova Flat'), local('NovaFlat'), url(https://fonts.joway.io/s/novaflat/v10/QdVUSTc-JgqpytEbVeb0viFg.ttf) format('truetype');
}
