@font-face {
  font-family: 'Nova Mono';
  font-style: normal;
  font-weight: 400;
  src: local('NovaMono'), url(https://fonts.joway.io/s/novamono/v9/Cn-0JtiGWQ5Ajb--MRKvZ2Zc.ttf) format('truetype');
}
