@font-face {
  font-family: 'Nova Square';
  font-style: normal;
  font-weight: 400;
  src: local('Nova Square'), local('NovaSquare'), url(https://fonts.joway.io/s/novasquare/v11/RrQUbo9-9DV7b06QHgSWsahHT4c.ttf) format('truetype');
}
