@font-face {
  font-family: 'Nova Round';
  font-style: normal;
  font-weight: 400;
  src: local('Nova Round'), local('NovaRound'), url(https://fonts.joway.io/s/novaround/v10/flU9Rqquw5UhEnlwTJYTUYDUfQ.ttf) format('truetype');
}
