@font-face {
  font-family: 'Nova Oval';
  font-style: normal;
  font-weight: 400;
  src: local('Nova Oval'), local('NovaOval'), url(https://fonts.joway.io/s/novaoval/v10/jAnEgHdmANHvPenMaswyNoWl.ttf) format('truetype');
}
