@font-face {
  font-family: 'Nova Slim';
  font-style: normal;
  font-weight: 400;
  src: local('Nova Slim'), local('NovaSlim'), url(https://fonts.joway.io/s/novaslim/v10/Z9XUDmZNQAuem8jyZcnOz8mM.ttf) format('truetype');
}
