@font-face {
  font-family: 'Nova Cut';
  font-style: normal;
  font-weight: 400;
  src: local('Nova Cut'), local('NovaCut'), url(https://fonts.joway.io/s/novacut/v10/KFOkCnSYu8mL-39LkVxIIzc.ttf) format('truetype');
}
