@font-face {
  font-family: 'Numans';
  font-style: normal;
  font-weight: 400;
  src: local('Numans'), local('Numans-Regular'), url(https://fonts.joway.io/s/numans/v8/SlGRmQmGupYAfH84ZhIk.ttf) format('truetype');
}
