@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.joway.io/s/nunito/v9/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
