@font-face {
  font-family: 'Odor Mean Chey';
  font-style: normal;
  font-weight: 400;
  src: local('OdorMeanChey'), url(https://fonts.joway.io/s/odormeanchey/v10/raxkHiKDttkTe1aOGcJMR1A_4mrY.ttf) format('truetype');
}
