/* khmer */
@font-face {
  font-family: 'Odor Mean Chey';
  font-style: normal;
  font-weight: 400;
  src: local('OdorMeanChey'), url(https://fonts.joway.io/s/odormeanchey/v10/raxkHiKDttkTe1aOGcJMR1A_4lrU0Tu2KrfuYFE.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
