@font-face {
  font-family: 'Offside';
  font-style: normal;
  font-weight: 400;
  src: local('Offside'), local('Offside-Regular'), url(https://fonts.joway.io/s/offside/v6/HI_KiYMWKa9QrAykc5boQg.ttf) format('truetype');
}
