@font-face {
  font-family: 'Oldenburg';
  font-style: normal;
  font-weight: 400;
  src: local('Oldenburg'), local('Oldenburg-Regular'), url(https://fonts.joway.io/s/oldenburg/v6/fC1jPY5JYWzbywv7c4VKVkSs.ttf) format('truetype');
}
