@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url(https://fonts.joway.io/s/oleoscript/v6/rax5HieDvtMOe0iICsUccChdu0o.ttf) format('truetype');
}
