@font-face {
  font-family: 'Oranienbaum';
  font-style: normal;
  font-weight: 400;
  src: local('Oranienbaum'), local('Oranienbaum-Regular'), url(https://fonts.joway.io/s/oranienbaum/v6/OZpHg_txtzZKMuXLIVrx-0zg5Eg.ttf) format('truetype');
}
