@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron Regular'), local('Orbitron-Regular'), url(https://fonts.joway.io/s/orbitron/v9/yMJRMIlzdpvBhQQL_Qq7dyg.ttf) format('truetype');
}
