@font-face {
  font-family: 'Oregano';
  font-style: normal;
  font-weight: 400;
  src: local('Oregano'), local('Oregano-Regular'), url(https://fonts.joway.io/s/oregano/v6/If2IXTPxciS3H4S2oZDVOw.ttf) format('truetype');
}
