@font-face {
  font-family: 'Orienta';
  font-style: normal;
  font-weight: 400;
  src: local('Orienta'), local('Orienta-Regular'), url(https://fonts.joway.io/s/orienta/v6/PlI9FlK4Jrl5Y9zNSyCi8A.ttf) format('truetype');
}
