@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.joway.io/s/oswald/v16/TK3iWkUHHAIjg752GT8D.ttf) format('truetype');
}
