@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local('Overpass Regular'), local('Overpass-Regular'), url(https://fonts.joway.io/s/overpass/v2/qFdH35WCmI96Ajtm81GlU94.ttf) format('truetype');
}
