@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: 400;
  src: local('Overlock Regular'), local('Overlock-Regular'), url(https://fonts.joway.io/s/overlock/v7/Z9XVDmdMWRiN1_T9Z7TZ6Ok.ttf) format('truetype');
}
