@font-face {
  font-family: 'Overlock SC';
  font-style: normal;
  font-weight: 400;
  src: local('Overlock SC'), local('OverlockSC-Regular'), url(https://fonts.joway.io/s/overlocksc/v7/1cX3aUHKGZrstGAY8nwVzEGHocA.ttf) format('truetype');
}
