@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.joway.io/s/oxygen/v7/2sDfZG1Wl4LcnbuKjk0j.ttf) format('truetype');
}
