@font-face {
  font-family: 'Oxygen Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Mono'), local('OxygenMono-Regular'), url(https://fonts.joway.io/s/oxygenmono/v6/h0GsssGg9FxgDgCjLeAd7hjYx-s.ttf) format('truetype');
}
