@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-weight: 400;
  src: local(''), local('Padauk-Regular'), url(https://fonts.joway.io/s/padauk/v5/RrQRboJg-id7OnbxbEXk.ttf) format('truetype');
}
