@font-face {
  font-family: 'Palanquin Dark';
  font-style: normal;
  font-weight: 400;
  src: local('Palanquin Dark Regular'), local('PalanquinDark-Regular'), url(https://fonts.joway.io/s/palanquindark/v5/xn75YHgl1nqmANMB-26xC7yuF86JRk4.ttf) format('truetype');
}
