@font-face {
  font-family: 'Pangolin';
  font-style: normal;
  font-weight: 400;
  src: local('Pangolin Regular'), local('Pangolin-Regular'), url(https://fonts.joway.io/s/pangolin/v3/cY9GfjGcW0FPpi-tWMfN79k.ttf) format('truetype');
}
