@font-face {
  font-family: 'Paprika';
  font-style: normal;
  font-weight: 400;
  src: local('Paprika'), local('Paprika-Regular'), url(https://fonts.joway.io/s/paprika/v6/8QIJdijZitv49rDfiI8Erw.ttf) format('truetype');
}
