@font-face {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  src: local('Parisienne'), local('Parisienne-Regular'), url(https://fonts.joway.io/s/parisienne/v5/E21i_d3kivvAkxhLEVZpQyhwCg.ttf) format('truetype');
}
