@font-face {
  font-family: 'Passero One';
  font-style: normal;
  font-weight: 400;
  src: local('Passero One'), local('PasseroOne-Regular'), url(https://fonts.joway.io/s/passeroone/v10/JTUTjIko8DOq5FeaeEAjgH5G7g4.ttf) format('truetype');
}
