@font-face {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  src: local('Patrick Hand'), local('PatrickHand-Regular'), url(https://fonts.joway.io/s/patrickhand/v11/LDI1apSQOAYtSuYWp8ZhfYe8XsLO.ttf) format('truetype');
}
