@font-face {
  font-family: 'Pattaya';
  font-style: normal;
  font-weight: 400;
  src: local('Pattaya'), local('Pattaya-Regular'), url(https://fonts.joway.io/s/pattaya/v4/ea8ZadcqV_zkHY-XBdet8w.ttf) format('truetype');
}
