@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: local('Patua One'), local('PatuaOne-Regular'), url(https://fonts.joway.io/s/patuaone/v8/ZXuke1cDvLCKLDcimxB44_lr.ttf) format('truetype');
}
