@font-face {
  font-family: 'Pavanam';
  font-style: normal;
  font-weight: 400;
  src: local('Pavanam'), local('Pavanam-Regular'), url(https://fonts.joway.io/s/pavanam/v3/BXRrvF_aiezLh0xPPOxa8Q.ttf) format('truetype');
}
