@font-face {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  src: local('Paytone One Regular'), local('PaytoneOne-Regular'), url(https://fonts.joway.io/s/paytoneone/v10/0nksC9P7MfYHj2oFtYm2ChTtgP4.ttf) format('truetype');
}
