@font-face {
  font-family: 'Peralta';
  font-style: normal;
  font-weight: 400;
  src: local('Peralta'), local('Peralta-Regular'), url(https://fonts.joway.io/s/peralta/v6/hYkJPu0-RP_9d3kRKxcrqg.ttf) format('truetype');
}
