@font-face {
  font-family: 'Petit Formal Script';
  font-style: normal;
  font-weight: 400;
  src: local('Petit Formal Script'), local('PetitFormalScript-Regular'), url(https://fonts.joway.io/s/petitformalscript/v6/B50TF6xQr2TXJBnGOFME6u5OR83oRP5qkH7gOw.ttf) format('truetype');
}
