@font-face {
  font-family: 'Petrona';
  font-style: normal;
  font-weight: 400;
  src: local('Petrona Regular'), local('Petrona-Regular'), url(https://fonts.joway.io/s/petrona/v7/mtG64_NXL7bZo9XXgXJYsA.ttf) format('truetype');
}
