@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher Regular'), local('Philosopher-Regular'), url(https://fonts.joway.io/s/philosopher/v9/vEFV2_5QCwIS4_Dhez5jcWBuT0g.ttf) format('truetype');
}
