@font-face {
  font-family: 'Piedra';
  font-style: normal;
  font-weight: 400;
  src: local('Piedra Regular'), local('Piedra-Regular'), url(https://fonts.joway.io/s/piedra/v7/ke8kOg8aN0Bn7hTem0aD.ttf) format('truetype');
}
