@font-face {
  font-family: 'Pinyon Script';
  font-style: normal;
  font-weight: 400;
  src: local('Pinyon Script'), local('PinyonScript'), url(https://fonts.joway.io/s/pinyonscript/v7/6xKpdSJbL9-e9LuoeQiDRQR8WOXaPw.ttf) format('truetype');
}
