@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  font-weight: 400;
  src: local('Pirata One'), local('PirataOne-Regular'), url(https://fonts.joway.io/s/pirataone/v7/I_urMpiDvgLdLh0fAtofhi-Oqw.ttf) format('truetype');
}
