@font-face {
  font-family: 'Plaster';
  font-style: normal;
  font-weight: 400;
  src: local('Plaster'), local('Plaster-Regular'), url(https://fonts.joway.io/s/plaster/v10/DdTm79QatW80eRh4IilDPg.ttf) format('truetype');
}
