@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: local('Playball'), local('Playball-Regular'), url(https://fonts.joway.io/s/playball/v7/TK3gWksYAxQ7jbsKcg8Ene8.ttf) format('truetype');
}
