@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play Regular'), local('Play-Regular'), url(https://fonts.joway.io/s/play/v9/6aez4K2oVqwIvtU2Gg.ttf) format('truetype');
}
