@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 400;
  src: local('Podkova Regular'), local('Podkova-Regular'), url(https://fonts.joway.io/s/podkova/v12/K2FxfZ1EmftJSV9VaJnzIg.ttf) format('truetype');
}
