@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.joway.io/s/poiretone/v6/UqyVK80NJXN4zfRgbdfbo55cUg.ttf) format('truetype');
}
