@font-face {
  font-family: 'Pompiere';
  font-style: normal;
  font-weight: 400;
  src: local('Pompiere '), local('Pompiere-Regular'), url(https://fonts.joway.io/s/pompiere/v8/VEMyRoxis5Dwuyeov5Wq7DQ.ttf) format('truetype');
}
