@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Pontano Sans'), local('PontanoSans-Regular'), url(https://fonts.joway.io/s/pontanosans/v5/qFdD35GdgYR8EzR6oBLDHa3axT8I.ttf) format('truetype');
}
