@font-face {
  font-family: 'Poor Story';
  font-style: normal;
  font-weight: 400;
  src: local('Poor Story Regular'), local('PoorStory-Regular'), url(https://fonts.joway.io/s/poorstory/v5/jizfREFUsnUct9P6cDfd0O6tKA.ttf) format('truetype');
}
