@font-face {
  font-family: 'Port Lligat Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Port Lligat Slab'), local('PortLligatSlab-Regular'), url(https://fonts.joway.io/s/portlligatslab/v7/LDIpaoiQNgArA8kR7ulhZ8P_NYOsg70R8w.ttf) format('truetype');
}
