@font-face {
  font-family: 'Port Lligat Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Port Lligat Sans'), local('PortLligatSans-Regular'), url(https://fonts.joway.io/s/portlligatsans/v7/kmKmZrYrGBbdN1aV7Vokow6Lw4s4p7R-Sw.ttf) format('truetype');
}
