@font-face {
  font-family: 'Pragati Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('Pragati Narrow'), local('PragatiNarrow-Regular'), url(https://fonts.joway.io/s/pragatinarrow/v3/vm8vdRf0T0bS1ffgsPB7WZ-mD274wNc.ttf) format('truetype');
}
