@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  src: local('Prata Regular'), local('Prata-Regular'), url(https://fonts.joway.io/s/prata/v8/6xKhdSpbNNCT-sWPCms.ttf) format('truetype');
}
