@font-face {
  font-family: 'Preahvihear';
  font-style: normal;
  font-weight: 400;
  src: local('Preah Vihear'), local('PreahVihear'), url(https://fonts.joway.io/s/preahvihear/v10/6NUS8F-dNQeEYhzj7uluxswE.ttf) format('truetype');
}
