@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 400;
  src: local('Pridi Regular'), local('Pridi-Regular'), url(https://fonts.joway.io/s/pridi/v3/2sDQZG5JnZLfkcWdqW0.ttf) format('truetype');
}
