@font-face {
  font-family: 'Princess Sofia';
  font-style: normal;
  font-weight: 400;
  src: local('Princess Sofia'), local('PrincessSofia'), url(https://fonts.joway.io/s/princesssofia/v7/qWczB6yguIb8DZ_GXZst16n7GSz8kjE.ttf) format('truetype');
}
