@font-face {
  font-family: 'Prociono';
  font-style: normal;
  font-weight: 400;
  src: local('Prociono'), local('Prociono-Regular'), url(https://fonts.joway.io/s/prociono/v8/r05YGLlR-KxAf9GGO_uuwjI.ttf) format('truetype');
}
