@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt'), local('Prompt-Regular'), url(https://fonts.joway.io/s/prompt/v2/-W__XJnvUD7dzB2KYNoY.ttf) format('truetype');
}
