@font-face {
  font-family: 'Prosto One';
  font-style: normal;
  font-weight: 400;
  src: local('Prosto One'), local('ProstoOne-Regular'), url(https://fonts.joway.io/s/prostoone/v6/OpNJno4VhNfK-RgpwWWxli1VXg.ttf) format('truetype');
}
