@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Proza Libre'), local('ProzaLibre-Regular'), url(https://fonts.joway.io/s/prozalibre/v3/LYjGdGHgj0k1DIQRyUEyyEoodN8.ttf) format('truetype');
}
