@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(https://fonts.joway.io/s/ptmono/v5/9oRONYoBnWILk-9AnC8zNg.ttf) format('truetype');
}
