@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.joway.io/s/ptserif/v9/EJRVQgYoZZY2vCFuvAFWzro.ttf) format('truetype');
}
