@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.joway.io/s/ptsans/v9/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
