@font-face {
  font-family: 'Puritan';
  font-style: normal;
  font-weight: 400;
  src: local('Puritan Regular'), local('Puritan-Regular'), url(https://fonts.joway.io/s/puritan/v10/845YNMgkAJ2VTtIoxJ36QQ.ttf) format('truetype');
}
