@font-face {
  font-family: 'Purple Purse';
  font-style: normal;
  font-weight: 400;
  src: local('Purple Purse'), local('PurplePurse-Regular'), url(https://fonts.joway.io/s/purplepurse/v7/qWctB66gv53iAp-Vfs4My6qCfxz7.ttf) format('truetype');
}
