@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  src: local('Quantico'), local('Quantico-Regular'), url(https://fonts.joway.io/s/quantico/v7/rax-HiSdp9cPL3KIF7xrJDg.ttf) format('truetype');
}
