@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento'), url(https://fonts.joway.io/s/quattrocento/v9/OZpEg_xvsDZQL_LKIF7q4jP3w2j_.ttf) format('truetype');
}
