@font-face {
  font-family: 'Quintessential';
  font-style: normal;
  font-weight: 400;
  src: local('Quintessential'), local('Quintessential-Regular'), url(https://fonts.joway.io/s/quintessential/v6/fdNn9sOGq31Yjnh3qWU14Ddtjb53Qb0.ttf) format('truetype');
}
