@font-face {
  font-family: 'Qwigley';
  font-style: normal;
  font-weight: 400;
  src: local('Qwigley'), local('Qwigley-Regular'), url(https://fonts.joway.io/s/qwigley/v8/1cXzaU3UGJb5tGoCiVtmjw.ttf) format('truetype');
}
