@font-face {
  font-family: 'Racing Sans One';
  font-style: normal;
  font-weight: 400;
  src: local('Racing Sans One'), local('RacingSansOne-Regular'), url(https://fonts.joway.io/s/racingsansone/v6/sykr-yRtm7EvTrXNxkv5jfKKyDCAKHDi.ttf) format('truetype');
}
