@font-face {
  font-family: 'Radley';
  font-style: normal;
  font-weight: 400;
  src: local('Radley Regular'), local('Radley-Regular'), url(https://fonts.joway.io/s/radley/v13/LYjDdGzinEIjCN1NpwNA.ttf) format('truetype');
}
