@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  src: local('Rajdhani Regular'), local('Rajdhani-Regular'), url(https://fonts.joway.io/s/rajdhani/v7/LDIxapCSOBg7S-QT7p4HM-M.ttf) format('truetype');
}
