@font-face {
  font-family: 'Rakkas';
  font-style: normal;
  font-weight: 400;
  src: local('Rakkas Regular'), local('Rakkas-Regular'), url(https://fonts.joway.io/s/rakkas/v6/Qw3cZQlNHiblL3jPkdFL.ttf) format('truetype');
}
