@font-face {
  font-family: 'Raleway Dots';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway Dots'), local('RalewayDots-Regular'), url(https://fonts.joway.io/s/ralewaydots/v5/6NUR8FifJg6AfQvzpshgwJ8UzvVB.ttf) format('truetype');
}
