@font-face {
  font-family: 'Ramabhadra';
  font-style: normal;
  font-weight: 400;
  src: local('Ramabhadra'), url(https://fonts.joway.io/s/ramabhadra/v8/EYq2maBOwqRW9P1SQ83LShRMWw.ttf) format('truetype');
}
