@font-face {
  font-family: 'Ramaraja';
  font-style: normal;
  font-weight: 400;
  src: local('Ramaraja'), url(https://fonts.joway.io/s/ramaraja/v3/SlGTmQearpYAYG1CACIjoHQ.ttf) format('truetype');
}
