@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: local('Rambla'), local('Rambla-Regular'), url(https://fonts.joway.io/s/rambla/v5/snfrs0ip98hx6mrEJLgK.ttf) format('truetype');
}
