@font-face {
  font-family: 'Rancho';
  font-style: normal;
  font-weight: 400;
  src: local('Rancho Regular'), local('Rancho-Regular'), url(https://fonts.joway.io/s/rancho/v8/46kulbzmXjLaqZRVam_k.ttf) format('truetype');
}
