@font-face {
  font-family: 'Ranchers';
  font-style: normal;
  font-weight: 400;
  src: local('Ranchers'), local('Ranchers-Regular'), url(https://fonts.joway.io/s/ranchers/v6/zrfm0H3Lx-P2Xvs2ArDfBio.ttf) format('truetype');
}
