@font-face {
  font-family: 'Ranga';
  font-style: normal;
  font-weight: 400;
  src: local('Ranga Regular'), local('Ranga-Regular'), url(https://fonts.joway.io/s/ranga/v4/C8ct4cYisGb28q6FJjg.ttf) format('truetype');
}
