@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 400;
  src: local('Rasa Regular'), local('Rasa-Regular'), url(https://fonts.joway.io/s/rasa/v3/xn7vYHIn1mWmfqVUkg.ttf) format('truetype');
}
