@font-face {
  font-family: 'Rationale';
  font-style: normal;
  font-weight: 400;
  src: local('Rationale'), local('Rationale-Regular'), url(https://fonts.joway.io/s/rationale/v10/9XUnlJ92n0_JFxHIfHcccVtI.ttf) format('truetype');
}
