@font-face {
  font-family: 'Redressed';
  font-style: normal;
  font-weight: 400;
  src: local('Redressed Regular'), local('Redressed-Regular'), url(https://fonts.joway.io/s/redressed/v9/x3dickHUbrmJ7wMy9Msxe_oG.ttf) format('truetype');
}
