@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: 400;
  src: local('Reenie Beanie'), local('ReenieBeanie'), url(https://fonts.joway.io/s/reeniebeanie/v8/z7NSdR76eDkaJKZJFkkjuvWxXPq1rg.ttf) format('truetype');
}
