@font-face {
  font-family: 'Rhodium Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Rhodium Libre'), local('RhodiumLibre-Regular'), url(https://fonts.joway.io/s/rhodiumlibre/v3/1q2AY5adA0tn_ukeHcQHqpx6lEPBfg.ttf) format('truetype');
}
