@font-face {
  font-family: 'Ribeye';
  font-style: normal;
  font-weight: 400;
  src: local('Ribeye'), local('Ribeye-Regular'), url(https://fonts.joway.io/s/ribeye/v7/L0x8DFMxk1MP9R3hu_qi.ttf) format('truetype');
}
