@font-face {
  font-family: 'Ribeye Marrow';
  font-style: normal;
  font-weight: 400;
  src: local('Ribeye Marrow'), local('RibeyeMarrow-Regular'), url(https://fonts.joway.io/s/ribeyemarrow/v8/GFDsWApshnqMRO2JdtRZ2d0vIAsZUQ.ttf) format('truetype');
}
