@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.joway.io/s/righteous/v6/1cXxaUPXBpj2rGoU7C9WiHGA.ttf) format('truetype');
}
