@font-face {
  font-family: 'Rochester';
  font-style: normal;
  font-weight: 400;
  src: local('Rochester Regular'), local('Rochester-Regular'), url(https://fonts.joway.io/s/rochester/v8/6ae-4KCqVa4Zy6Fif-UC2FHS.ttf) format('truetype');
}
