@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 400;
  src: local('Rokkitt Regular'), local('Rokkitt-Regular'), url(https://fonts.joway.io/s/rokkitt/v12/qFdE35qfgYFjGy5hkEaCcw.ttf) format('truetype');
}
