@font-face {
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Ropa Sans Regular'), local('RopaSans-Regular'), url(https://fonts.joway.io/s/ropasans/v7/EYqxmaNOzLlWtsZSScy6XTNs.ttf) format('truetype');
}
