@font-face {
  font-family: 'Rosarivo';
  font-style: normal;
  font-weight: 400;
  src: local('Rosarivo'), local('Rosarivo-Regular'), url(https://fonts.joway.io/s/rosarivo/v6/PlI-Fl2lO6N9f8HaNDeF0Hw.ttf) format('truetype');
}
