@font-face {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 400;
  src: local('Rosario'), local('Rosario-Regular'), url(https://fonts.joway.io/s/rosario/v13/xfux0WDhWW_fOEoY2FP9yA.ttf) format('truetype');
}
