@font-face {
  font-family: 'Rouge Script';
  font-style: normal;
  font-weight: 400;
  src: local('Rouge Script'), local('RougeScript-Regular'), url(https://fonts.joway.io/s/rougescript/v7/LYjFdGbiklMoCIQOw1Ep3S4_U__f.ttf) format('truetype');
}
