@font-face {
  font-family: 'Rozha One';
  font-style: normal;
  font-weight: 400;
  src: local('Rozha One Regular'), local('RozhaOne-Regular'), url(https://fonts.joway.io/s/rozhaone/v6/AlZy_zVFtYP12Zncg2kRcn38.ttf) format('truetype');
}
