@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.joway.io/s/rubik/v7/iJWKBXyIfDnIV7nBrXk.ttf) format('truetype');
}
