@font-face {
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik Mono One Regular'), local('RubikMonoOne-Regular'), url(https://fonts.joway.io/s/rubikmonoone/v7/UqyJK8kPP3hjw6ANTdfRk9YSN983TKA.ttf) format('truetype');
}
