@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  src: local('Ruda Regular'), local('Ruda-Regular'), url(https://fonts.joway.io/s/ruda/v9/k3kfo8YQJOpFqngdbQ.ttf) format('truetype');
}
