@font-face {
  font-family: 'Rufina';
  font-style: normal;
  font-weight: 400;
  src: local('Rufina'), local('Rufina-Regular'), url(https://fonts.joway.io/s/rufina/v6/Yq6V-LyURyLy-aKCpB5g.ttf) format('truetype');
}
