@font-face {
  font-family: 'Ruge Boogie';
  font-style: normal;
  font-weight: 400;
  src: local('Ruge Boogie'), local('RugeBoogie-Regular'), url(https://fonts.joway.io/s/rugeboogie/v9/JIA3UVFwbHRF_GIWSMhKNSOlNTE.ttf) format('truetype');
}
