@font-face {
  font-family: 'Rum Raisin';
  font-style: normal;
  font-weight: 400;
  src: local('Rum Raisin'), local('RumRaisin-Regular'), url(https://fonts.joway.io/s/rumraisin/v6/nwpRtKu3Ih8D5avB4h2uF3iCzw.ttf) format('truetype');
}
