@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: local('Russo One'), local('RussoOne-Regular'), url(https://fonts.joway.io/s/russoone/v6/Z9XUDmZRWg6M1LvRYsHOz8mM.ttf) format('truetype');
}
