@font-face {
  font-family: 'Ruthie';
  font-style: normal;
  font-weight: 400;
  src: local('Ruthie'), local('Ruthie-Regular'), url(https://fonts.joway.io/s/ruthie/v9/gokvH63sGkdqXuUNkzRz.ttf) format('truetype');
}
