@font-face {
  font-family: 'Rye';
  font-style: normal;
  font-weight: 400;
  src: local('Rye Regular'), local('Rye-Regular'), url(https://fonts.joway.io/s/rye/v6/r05XGLJT86YzEZ7o.ttf) format('truetype');
}
