@font-face {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  src: local('Sacramento'), local('Sacramento-Regular'), url(https://fonts.joway.io/s/sacramento/v5/buEzpo6gcdjy0EiZMBUG4C0f-A.ttf) format('truetype');
}
