@font-face {
  font-family: 'Sahitya';
  font-style: normal;
  font-weight: 400;
  src: local('Sahitya'), local('Sahitya-Regular'), url(https://fonts.joway.io/s/sahitya/v3/6qLAKZkOuhnuqlJAWSAPOw.ttf) format('truetype');
}
