@font-face {
  font-family: 'Sail';
  font-style: normal;
  font-weight: 400;
  src: local('Sail'), local('Sail-Regular'), url(https://fonts.joway.io/s/sail/v9/DPEjYwiBxwYJJBPJBA.ttf) format('truetype');
}
