@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Saira Condensed Regular'), local('SairaCondensed-Regular'), url(https://fonts.joway.io/s/sairacondensed/v4/EJROQgErUN8XuHNEtX81i9TmEkrvoutA.ttf) format('truetype');
}
