@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  src: local('Saira Regular'), local('Saira-Regular'), url(https://fonts.joway.io/s/saira/v2/memwYa2wxmKQyNknTZY.ttf) format('truetype');
}
