@font-face {
  font-family: 'Sancreek';
  font-style: normal;
  font-weight: 400;
  src: local('Sancreek Regular'), local('Sancreek-Regular'), url(https://fonts.joway.io/s/sancreek/v9/pxiHypAnsdxUm159X4D5V1s.ttf) format('truetype');
}
