@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: local('Sanchez'), local('Sanchez-Regular'), url(https://fonts.joway.io/s/sanchez/v5/Ycm2sZJORluHnXbIfmlR-A.ttf) format('truetype');
}
