@font-face {
  font-family: 'Sansita';
  font-style: normal;
  font-weight: 400;
  src: local('Sansita Regular'), local('Sansita-Regular'), url(https://fonts.joway.io/s/sansita/v3/QldONTRRphEb_-V7LB6xSQ.ttf) format('truetype');
}
