@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 400;
  src: local('Sarala'), local('Sarala-Regular'), url(https://fonts.joway.io/s/sarala/v2/uK_y4riEZv4o1w9hDRcX.ttf) format('truetype');
}
