@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  src: local('Sarabun Regular'), local('Sarabun-Regular'), url(https://fonts.joway.io/s/sarabun/v6/DtVjJx26TKEr37c9aBVJmg.ttf) format('truetype');
}
