@font-face {
  font-family: 'Sarina';
  font-style: normal;
  font-weight: 400;
  src: local('Sarina'), local('Sarina-Regular'), url(https://fonts.joway.io/s/sarina/v7/-F6wfjF3ITQwasLRKUrQ.ttf) format('truetype');
}
