@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://fonts.joway.io/s/satisfy/v8/rP2Hp2yn6lkG50LoCZOIGA.ttf) format('truetype');
}
