@font-face {
  font-family: 'Sawarabi Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Sawarabi Gothic'), local('SawarabiGothic-Regular'), url(https://fonts.joway.io/s/sawarabigothic/v4/x3d4ckfVaqqa-BEj-I9mE65u3k39AiMz.ttf) format('truetype');
}
