@font-face {
  font-family: 'Sawarabi Mincho';
  font-style: normal;
  font-weight: 400;
  src: local('Sawarabi Mincho'), local('SawarabiMincho-Regular'), url(https://fonts.joway.io/s/sawarabimincho/v6/8QIRdiDaitzr7brc8ahpxt6GcIJjKqJL.ttf) format('truetype');
}
