@font-face {
  font-family: 'Scheherazade';
  font-style: normal;
  font-weight: 400;
  src: local('Scheherazade'), local('Scheherazade-Regular'), url(https://fonts.joway.io/s/scheherazade/v15/YA9Ur0yF4ETZN60keViq1kQQsJms.ttf) format('truetype');
}
