@font-face {
  font-family: 'Schoolbell';
  font-style: normal;
  font-weight: 400;
  src: local('Schoolbell Regular'), local('Schoolbell-Regular'), url(https://fonts.joway.io/s/schoolbell/v9/92zQtBZWOrcgoe-fgnJIZxUa7g.ttf) format('truetype');
}
