@font-face {
  font-family: 'Scope One';
  font-style: normal;
  font-weight: 400;
  src: local('Scope One'), local('ScopeOne-Regular'), url(https://fonts.joway.io/s/scopeone/v5/WBLnrEXKYFlGHrOKmGDFXEXI.ttf) format('truetype');
}
