@font-face {
  font-family: 'Seaweed Script';
  font-style: normal;
  font-weight: 400;
  src: local('Seaweed Script'), local('SeaweedScript-Regular'), url(https://fonts.joway.io/s/seaweedscript/v6/bx6cNx6Tne2pxOATYE8C_Rsoe3WO8qM.ttf) format('truetype');
}
