@font-face {
  font-family: 'Secular One';
  font-style: normal;
  font-weight: 400;
  src: local('Secular One'), local('SecularOne-Regular'), url(https://fonts.joway.io/s/secularone/v3/8QINdiTajsj_87rMuMdKyqDiOO0.ttf) format('truetype');
}
