@font-face {
  font-family: 'Sedgwick Ave';
  font-style: normal;
  font-weight: 400;
  src: local('Sedgwick Ave Regular'), local('SedgwickAve-Regular'), url(https://fonts.joway.io/s/sedgwickave/v4/uK_04rKEYuguzAcSYRdWTJqMWWIx.ttf) format('truetype');
}
