@font-face {
  font-family: 'Sedgwick Ave Display';
  font-style: normal;
  font-weight: 400;
  src: local('Sedgwick Ave Display Regular'), local('SedgwickAveDisplay-Regular'), url(https://fonts.joway.io/s/sedgwickavedisplay/v4/xfuu0XPgU3jZPUoUo3ScvmPi-NapQ8OxM1c0feI.ttf) format('truetype');
}
