@font-face {
  font-family: 'Sevillana';
  font-style: normal;
  font-weight: 400;
  src: local('Sevillana'), local('Sevillana-Regular'), url(https://fonts.joway.io/s/sevillana/v7/KFOlCnWFscmDt1Bfiy1fBBc9.ttf) format('truetype');
}
