@font-face {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  src: local('Seymour One'), local('SeymourOne'), url(https://fonts.joway.io/s/seymourone/v6/4iCp6Khla9xbjQpoWGGd0lyPN4Q.ttf) format('truetype');
}
