@font-face {
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'), url(https://fonts.joway.io/s/shadowsintolighttwo/v5/4iC86LVlZsRSjQhpWGedwyOoW-0A6_kpsyNmpAzHHA.ttf) format('truetype');
}
