@font-face {
  font-family: 'Share Tech';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech Regular'), local('ShareTech-Regular'), url(https://fonts.joway.io/s/sharetech/v8/7cHtv4Uyi5K0OeZ7bohU8H0JnQ.ttf) format('truetype');
}
