@font-face {
  font-family: 'Shojumaru';
  font-style: normal;
  font-weight: 400;
  src: local('Shojumaru'), local('Shojumaru-Regular'), url(https://fonts.joway.io/s/shojumaru/v6/rax_HiWfutkLLnaKCtl8Axha.ttf) format('truetype');
}
