@font-face {
  font-family: 'Short Stack';
  font-style: normal;
  font-weight: 400;
  src: local('Short Stack'), local('ShortStack'), url(https://fonts.joway.io/s/shortstack/v8/bMrzmS2X6p0jZC6EcmPFX9SVe3s.ttf) format('truetype');
}
