@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: local('Shrikhand Regular'), local('Shrikhand-Regular'), url(https://fonts.joway.io/s/shrikhand/v3/a8IbNovtLWfR7T7bMJwrA4KU.ttf) format('truetype');
}
