@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local('Signika Regular'), local('Signika-Regular'), url(https://fonts.joway.io/s/signika/v8/vEFR2_JTCgwQ5ejvG1EmAw.ttf) format('truetype');
}
