@font-face {
  font-family: 'Simonetta';
  font-style: normal;
  font-weight: 400;
  src: local('Simonetta Regular'), local('Simonetta-Regular'), url(https://fonts.joway.io/s/simonetta/v8/x3dickHVYrCU5BU15c4xe_oG.ttf) format('truetype');
}
