@font-face {
  font-family: 'Sirin Stencil';
  font-style: normal;
  font-weight: 400;
  src: local('SirinStencil'), local('SirinStencil-Regular'), url(https://fonts.joway.io/s/sirinstencil/v7/mem4YaWwznmLx-lzGfN7MdRyRc9MAg.ttf) format('truetype');
}
