@font-face {
  font-family: 'Six Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Six Caps'), local('SixCaps'), url(https://fonts.joway.io/s/sixcaps/v9/6ae_4KGrU7VR7bNmaYcV_3E.ttf) format('truetype');
}
