@font-face {
  font-family: 'Slabo 13px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 13px'), local('Slabo13px-Regular'), url(https://fonts.joway.io/s/slabo13px/v6/11hEGp_azEvXZUdSBzzRQKCh3w.ttf) format('truetype');
}
