@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 27px'), local('Slabo27px-Regular'), url(https://fonts.joway.io/s/slabo27px/v4/mFT0WbgBwKPR_Z4hGN2qgx8D0A.ttf) format('truetype');
}
