@font-face {
  font-family: 'Smokum';
  font-style: normal;
  font-weight: 400;
  src: local('Smokum Regular'), local('Smokum-Regular'), url(https://fonts.joway.io/s/smokum/v9/TK3iWkUbAhopmrd2GT8D.ttf) format('truetype');
}
