@font-face {
  font-family: 'Snowburst One';
  font-style: normal;
  font-weight: 400;
  src: local('Snowburst One'), local('SnowburstOne-Regular'), url(https://fonts.joway.io/s/snowburstone/v6/MQpS-WezKdujBsXY3B7I-UT7SZieOw.ttf) format('truetype');
}
