@font-face {
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  src: local('Sofia'), local('Sofia-Regular'), url(https://fonts.joway.io/s/sofia/v7/8QIHdirahM3j_su5uIg.ttf) format('truetype');
}
