@font-face {
  font-family: 'Song Myung';
  font-style: normal;
  font-weight: 400;
  src: local('Song Myung Regular'), local('SongMyung-Regular'), url(https://fonts.joway.io/s/songmyung/v5/1cX2aUDWAJH5-EIC7DIhn1aggQ.ttf) format('truetype');
}
