@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  src: local('Sorts Mill Goudy Regular'), local('SortsMillGoudy-Regular'), url(https://fonts.joway.io/s/sortsmillgoudy/v7/Qw3GZR9MED_6PSuS_50nEaVrfzgEbHoEig.ttf) format('truetype');
}
