@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.joway.io/s/spacemono/v4/i7dPIFZifjKcF5UAWdDRYEF8QA.ttf) format('truetype');
}
