@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: local('Spectral Regular'), local('Spectral-Regular'), url(https://fonts.joway.io/s/spectral/v5/rnCr-xNNww_2s0amA9M5kn0.ttf) format('truetype');
}
