@font-face {
  font-family: 'Spectral SC';
  font-style: normal;
  font-weight: 400;
  src: local('Spectral SC Regular'), local('SpectralSC-Regular'), url(https://fonts.joway.io/s/spectralsc/v4/KtkpALCRZonmalTgyPmRfsWl42Q.ttf) format('truetype');
}
