@font-face {
  font-family: 'Spinnaker';
  font-style: normal;
  font-weight: 400;
  src: local('Spinnaker'), local('Spinnaker-Regular'), url(https://fonts.joway.io/s/spinnaker/v9/w8gYH2oyX-I0_rvR6HmX23YP.ttf) format('truetype');
}
