@font-face {
  font-family: 'Squada One';
  font-style: normal;
  font-weight: 400;
  src: local('Squada One'), local('SquadaOne-Regular'), url(https://fonts.joway.io/s/squadaone/v6/BCasqZ8XsOrx4mcOk6Mtaac2XA.ttf) format('truetype');
}
