@font-face {
  font-family: 'Sree Krushnadevaraya';
  font-style: normal;
  font-weight: 400;
  src: local('Sree Krushnadevaraya'), local('SreeKrushnadevaraya'), url(https://fonts.joway.io/s/sreekrushnadevaraya/v6/R70FjzQeifmPepmyQQjQ9kvwMkWYPfTA_HWc0lw.ttf) format('truetype');
}
