@font-face {
  font-family: 'Sriracha';
  font-style: normal;
  font-weight: 400;
  src: local('Sriracha'), local('Sriracha-Regular'), url(https://fonts.joway.io/s/sriracha/v3/0nkrC9D4IuYBgWcI9NbfTwQ.ttf) format('truetype');
}
