@font-face {
  font-family: 'Srisakdi';
  font-style: normal;
  font-weight: 400;
  src: local('Srisakdi Regular'), local('Srisakdi-Regular'), url(https://fonts.joway.io/s/srisakdi/v2/yMJRMIlvdpDbkB0A-gq7dyg.ttf) format('truetype');
}
