@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  src: local('Staatliches Regular'), local('Staatliches-Regular'), url(https://fonts.joway.io/s/staatliches/v2/HI_OiY8KO6hCsQSoAPmtMYebvpU.ttf) format('truetype');
}
