@font-face {
  font-family: 'Stalinist One';
  font-style: normal;
  font-weight: 400;
  src: local('Stalinist One'), local('StalinistOne-Regular'), url(https://fonts.joway.io/s/stalinistone/v20/MQpS-WezM9W4Dd7D3B7I-UT7SZieOw.ttf) format('truetype');
}
