@font-face {
  font-family: 'Stardos Stencil';
  font-style: normal;
  font-weight: 400;
  src: local('Stardos Stencil Regular'), local('StardosStencil-Regular'), url(https://fonts.joway.io/s/stardosstencil/v8/X7n94bcuGPC8hrvEOHXOgaKCc2Th6F5z.ttf) format('truetype');
}
