@font-face {
  font-family: 'Stint Ultra Expanded';
  font-style: normal;
  font-weight: 400;
  src: local('Stint Ultra Expanded'), local('StintUltraExpanded-Regular'), url(https://fonts.joway.io/s/stintultraexpanded/v6/CSRg4yNNh-GbW3o3JkwoDcdvMKMf0oBAd3qvCzA.ttf) format('truetype');
}
