@font-face {
  font-family: 'Stint Ultra Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Stint Ultra Condensed'), local('StintUltraCondensed-Regular'), url(https://fonts.joway.io/s/stintultracondensed/v7/-W_gXIrsVjjeyEnPC45qD2NoFPtBE0xCh2AOrR8K.ttf) format('truetype');
}
