@font-face {
  font-family: 'Stoke';
  font-style: normal;
  font-weight: 400;
  src: local('Stoke Regular'), local('Stoke-Regular'), url(https://fonts.joway.io/s/stoke/v8/z7NadRb7aTMfKNNudCw.ttf) format('truetype');
}
