@font-face {
  font-family: 'Strait';
  font-style: normal;
  font-weight: 400;
  src: local('Strait'), local('Strait-Regular'), url(https://fonts.joway.io/s/strait/v6/DtViJxy6WaEr1LZDfzJp.ttf) format('truetype');
}
