@font-face {
  font-family: 'Stylish';
  font-style: normal;
  font-weight: 400;
  src: local('Stylish Regular'), local('Stylish-Regular'), url(https://fonts.joway.io/s/stylish/v5/m8JSjfhPYriQkk7-TorzcA.ttf) format('truetype');
}
