@font-face {
  font-family: 'Sumana';
  font-style: normal;
  font-weight: 400;
  src: local('Sumana'), local('Sumana-Regular'), url(https://fonts.joway.io/s/sumana/v3/4UaDrE5TqRBjGj-29xLm.ttf) format('truetype');
}
