@font-face {
  font-family: 'Sunshiney';
  font-style: normal;
  font-weight: 400;
  src: local('Sunshiney Regular'), local('Sunshiney-Regular'), url(https://fonts.joway.io/s/sunshiney/v9/LDIwapGTLBwsS-wT4vcQFMOs.ttf) format('truetype');
}
