@font-face {
  font-family: 'Supermercado One';
  font-style: normal;
  font-weight: 400;
  src: local('Supermercado One Regular'), local('SupermercadoOne-Regular'), url(https://fonts.joway.io/s/supermercadoone/v8/OpNXnpQWg8jc_xps_Gi14kVVEXOn20H9NA.ttf) format('truetype');
}
