@font-face {
  font-family: 'Sura';
  font-style: normal;
  font-weight: 400;
  src: local('Sura'), local('Sura-Regular'), url(https://fonts.joway.io/s/sura/v3/SZc23FL5PbyzJfleXw.ttf) format('truetype');
}
