@font-face {
  font-family: 'Suravaram';
  font-style: normal;
  font-weight: 400;
  src: local('Suravaram'), url(https://fonts.joway.io/s/suravaram/v5/_gP61R_usiY7SCym4xIwjGSx.ttf) format('truetype');
}
