@font-face {
  font-family: 'Suwannaphum';
  font-style: normal;
  font-weight: 400;
  src: local('Suwannaphum Regular'), local('Suwannaphum-Regular'), url(https://fonts.joway.io/s/suwannaphum/v12/jAnCgHV7GtDvc8jbe8hXXIWl.ttf) format('truetype');
}
