@font-face {
  font-family: 'Swanky and Moo Moo';
  font-style: normal;
  font-weight: 400;
  src: local('Swanky and Moo Moo'), local('SwankyandMooMoo'), url(https://fonts.joway.io/s/swankyandmoomoo/v8/flUlRrKz24IuWVI_WJYTYcqbEsMUZ3kksrng.ttf) format('truetype');
}
