@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  src: local('Syncopate Regular'), local('Syncopate-Regular'), url(https://fonts.joway.io/s/syncopate/v9/pe0sMIuPIYBCpEV5eFdCBfe6.ttf) format('truetype');
}
