@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: local('Tajawal'), local('Tajawal-Regular'), url(https://fonts.joway.io/s/tajawal/v1/Iura6YBj_oCad4k1nzGBDg.ttf) format('truetype');
}
