@font-face {
  font-family: 'Tauri';
  font-style: normal;
  font-weight: 400;
  src: local('Tauri Regular'), local('Tauri-Regular'), url(https://fonts.joway.io/s/tauri/v7/TwMA-IISS0AM3LpSUnE.ttf) format('truetype');
}
