@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 400;
  src: local('Taviraj Regular'), local('Taviraj-Regular'), url(https://fonts.joway.io/s/taviraj/v3/ahcZv8Cj3ylylTXzTOkrVw.ttf) format('truetype');
}
