@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: local('Teko Regular'), local('Teko-Regular'), url(https://fonts.joway.io/s/teko/v7/LYjNdG7kmE0gfaN9oA.ttf) format('truetype');
}
