@font-face {
  font-family: 'Text Me One';
  font-style: normal;
  font-weight: 400;
  src: local('Text Me One'), local('TextMeOne-Regular'), url(https://fonts.joway.io/s/textmeone/v6/i7dOIFdlayuLUvgoFvHQFVZbYFI.ttf) format('truetype');
}
