@font-face {
  font-family: 'Thasadith';
  font-style: normal;
  font-weight: 400;
  src: local('Thasadith Regular'), local('Thasadith-Regular'), url(https://fonts.joway.io/s/thasadith/v2/mtG44_1TIqPYrd_f5R1ot0MQ.ttf) format('truetype');
}
