@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 400;
  src: local('Tillana Regular'), local('Tillana-Regular'), url(https://fonts.joway.io/s/tillana/v4/VuJxdNvf35P4qJ1OSKHdPA.ttf) format('truetype');
}
