@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  src: local('Tinos Regular'), local('Tinos-Regular'), url(https://fonts.joway.io/s/tinos/v11/buE4poGnedXvwjX7fmE.ttf) format('truetype');
}
