@font-face {
  font-family: 'Trade Winds';
  font-style: normal;
  font-weight: 400;
  src: local('Trade Winds'), local('TradeWinds'), url(https://fonts.joway.io/s/tradewinds/v7/AYCPpXPpYNIIT7h8-QenM0Jt5vY.ttf) format('truetype');
}
