@font-face {
  font-family: 'Trirong';
  font-style: normal;
  font-weight: 400;
  src: local('Trirong Regular'), local('Trirong-Regular'), url(https://fonts.joway.io/s/trirong/v4/7r3GqXNgp8wxdOdOn4so3Q.ttf) format('truetype');
}
