@font-face {
  font-family: 'Trykker';
  font-style: normal;
  font-weight: 400;
  src: local('Trykker Regular'), local('Trykker-Regular'), url(https://fonts.joway.io/s/trykker/v7/KtktALyWZJXudUPztN7iPQ.ttf) format('truetype');
}
