@font-face {
  font-family: 'Tulpen One';
  font-style: normal;
  font-weight: 400;
  src: local('Tulpen One'), local('TulpenOne-Regular'), url(https://fonts.joway.io/s/tulpenone/v8/dFa6ZfeC474skLgesc0Cajo6-A.ttf) format('truetype');
}
