@font-face {
  font-family: 'Ultra';
  font-style: normal;
  font-weight: 400;
  src: local('Ultra Regular'), local('Ultra-Regular'), url(https://fonts.joway.io/s/ultra/v10/zOLy4prXmrtY-uT9wrc.ttf) format('truetype');
}
