@font-face {
  font-family: 'Uncial Antiqua';
  font-style: normal;
  font-weight: 400;
  src: local('Uncial Antiqua'), local('UncialAntiqua-Regular'), url(https://fonts.joway.io/s/uncialantiqua/v6/N0bM2S5WOex4OUbESzoESK-i-MfWQZE.ttf) format('truetype');
}
