@font-face {
  font-family: 'Underdog';
  font-style: normal;
  font-weight: 400;
  src: local('Underdog'), local('Underdog-Regular'), url(https://fonts.joway.io/s/underdog/v7/CHygV-jCElj7diMroWSlWVo.ttf) format('truetype');
}
