@font-face {
  font-family: 'Unica One';
  font-style: normal;
  font-weight: 400;
  src: local('Unica One'), local('UnicaOne-Regular'), url(https://fonts.joway.io/s/unicaone/v5/DPEuYwWHyAYGVTSmalsRcd3b.ttf) format('truetype');
}
