@font-face {
  font-family: 'UnifrakturMaguntia';
  font-style: normal;
  font-weight: 400;
  src: local('UnifrakturMaguntia'), url(https://fonts.joway.io/s/unifrakturmaguntia/v9/WWXPlieVYwiGNomYU-ciRLRvEmK7oaVemGZJ.ttf) format('truetype');
}
