@font-face {
  font-family: 'Unlock';
  font-style: normal;
  font-weight: 400;
  src: local('Unlock Regular'), local('Unlock-Regular'), url(https://fonts.joway.io/s/unlock/v8/7Au-p_8ykD-cDl72LwLW.ttf) format('truetype');
}
