@font-face {
  font-family: 'Unna';
  font-style: normal;
  font-weight: 400;
  src: local('Unna Regular'), local('Unna-Regular'), url(https://fonts.joway.io/s/unna/v11/AYCEpXzofN0NOp8LkA.ttf) format('truetype');
}
