@font-face {
  font-family: 'Vampiro One';
  font-style: normal;
  font-weight: 400;
  src: local('Vampiro One'), local('VampiroOne-Regular'), url(https://fonts.joway.io/s/vampiroone/v9/gokqH6DoDl5yXvJytFsdLnqguPw.ttf) format('truetype');
}
