@font-face {
  font-family: 'Vast Shadow';
  font-style: normal;
  font-weight: 400;
  src: local('Vast Shadow Regular'), local('VastShadow-Regular'), url(https://fonts.joway.io/s/vastshadow/v8/pe0qMImKOZ1V62ZwbVY9dce9I94.ttf) format('truetype');
}
