@font-face {
  font-family: 'Vesper Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Vesper Libre'), local('VesperLibre-Regular'), url(https://fonts.joway.io/s/vesperlibre/v10/bx6CNxyWnf-uxPdXDHUD_RdICEWJ.ttf) format('truetype');
}
