@font-face {
  font-family: 'Vidaloka';
  font-style: normal;
  font-weight: 400;
  src: local('Vidaloka '), local('Vidaloka-Regular'), url(https://fonts.joway.io/s/vidaloka/v10/7cHrv4c3ipenMKlEavs7wHo.ttf) format('truetype');
}
