@font-face {
  font-family: 'Voces';
  font-style: normal;
  font-weight: 400;
  src: local('Voces Regular'), local('Voces-Regular'), url(https://fonts.joway.io/s/voces/v8/-F6_fjJyLyU8d7PGDmo.ttf) format('truetype');
}
