@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 400;
  src: local('Volkhov Regular'), local('Volkhov-Regular'), url(https://fonts.joway.io/s/volkhov/v9/SlGQmQieoJcKemNecTUEgA.ttf) format('truetype');
}
