@font-face {
  font-family: 'Vollkorn SC';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn SC Regular'), local('VollkornSC-Regular'), url(https://fonts.joway.io/s/vollkornsc/v2/j8_v6-zQ3rXpceZj9cqnViF-Pns.ttf) format('truetype');
}
