@font-face {
  font-family: 'Voltaire';
  font-style: normal;
  font-weight: 400;
  src: local('Voltaire'), url(https://fonts.joway.io/s/voltaire/v8/1Pttg8PcRfSblAvGvTovaqE.ttf) format('truetype');
}
