@font-face {
  font-family: 'Waiting for the Sunrise';
  font-style: normal;
  font-weight: 400;
  src: local('Waiting for the Sunrise'), local('WaitingfortheSunrise'), url(https://fonts.joway.io/s/waitingforthesunrise/v9/WBL1rFvOYl9CEv2i1mO6KUW8RKWJ2zoXoz5JsbZX_Bs.ttf) format('truetype');
}
