@font-face {
  font-family: 'Wallpoet';
  font-style: normal;
  font-weight: 400;
  src: local('Wallpoet'), url(https://fonts.joway.io/s/wallpoet/v10/f0X10em2_8RnXVVdUObp58E.ttf) format('truetype');
}
