@font-face {
  font-family: 'Walter Turncoat';
  font-style: normal;
  font-weight: 400;
  src: local('Walter Turncoat Regular'), local('WalterTurncoat-Regular'), url(https://fonts.joway.io/s/walterturncoat/v9/snfys0Gs98ln43n0d-14ULoToe6LZxeZ.ttf) format('truetype');
}
