@font-face {
  font-family: 'Warnes';
  font-style: normal;
  font-weight: 400;
  src: local('Warnes'), local('Warnes-Regular'), url(https://fonts.joway.io/s/warnes/v8/pONn1hc0GsW6sW5-oSqy.ttf) format('truetype');
}
