@font-face {
  font-family: 'Wire One';
  font-style: normal;
  font-weight: 400;
  src: local('Wire One'), local('WireOne'), url(https://fonts.joway.io/s/wireone/v9/qFdH35Wah5htUhV75VGlU94.ttf) format('truetype');
}
