@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.joway.io/s/worksans/v3/QGYsz_wNahGAdqQ43Rh_fKDs.ttf) format('truetype');
}
