@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 400;
  src: local('Yantramanav Regular'), local('Yantramanav-Regular'), url(https://fonts.joway.io/s/yantramanav/v3/flU8Rqu5zY00QEpyWJYWN5fzXeM.ttf) format('truetype');
}
