@font-face {
  font-family: 'Yatra One';
  font-style: normal;
  font-weight: 400;
  src: local('Yatra One Regular'), local('YatraOne-Regular'), url(https://fonts.joway.io/s/yatraone/v5/C8ch4copsHzj8p7NaF0BxFmF.ttf) format('truetype');
}
