@font-face {
  font-family: 'Yeon Sung';
  font-style: normal;
  font-weight: 400;
  src: local('Yeon Sung Regular'), local('YeonSung-Regular'), url(https://fonts.joway.io/s/yeonsung/v5/QldMNTpbohAGtsJvUn6BTlle.ttf) format('truetype');
}
