@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  src: local('Yeseva One Regular'), local('YesevaOne-Regular'), url(https://fonts.joway.io/s/yesevaone/v13/OpNJno4ck8vc-xYpwWWxli1VXg.ttf) format('truetype');
}
