@font-face {
  font-family: 'Yesteryear';
  font-style: normal;
  font-weight: 400;
  src: local('Yesteryear'), local('Yesteryear-Regular'), url(https://fonts.joway.io/s/yesteryear/v7/dg4g_p78rroaKl8kRKo1n7sNSw.ttf) format('truetype');
}
