@font-face {
  font-family: 'Yrsa';
  font-style: normal;
  font-weight: 400;
  src: local('Yrsa Regular'), local('Yrsa-Regular'), url(https://fonts.joway.io/s/yrsa/v3/wlp-gwnQFlxs1Qzf_A.ttf) format('truetype');
}
