@font-face {
  font-family: 'ZCOOL KuaiLe';
  font-style: normal;
  font-weight: 400;
  src: local('ZCOOL KuaiLe Regular'), local('ZCOOLKuaiLe-Regular'), url(https://fonts.joway.io/s/zcoolkuaile/v2/tssqApdaRQokwFjFJjvM6h2moYb3.ttf) format('truetype');
}
