@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Zilla Slab'), local('ZillaSlab-Regular'), url(https://fonts.joway.io/s/zillaslab/v3/dFa6ZfeM_74wlPZtksIFajo6-A.ttf) format('truetype');
}
